<template>
  <div class="page-welcome">
    <div class="typo-body">Hallo {{ name }},</div>
    <br />
    <div class="typo-body">
      lade jetzt mit einem <b>Klick</b> auf den unten stehenden
      <b>Button</b> deine persönliche Membercard herunter und zeige sie bei
      deinem nächsten Besuch am Eingang vor.
    </div>
    <br />
    <a :href="downloadUrl" target="_blank">
      <button class="btn-cta">Zum Download - klicke hier</button>
    </a>
    <br />
    <div class="typo-body">
      Bitte erinnere deine Freunde daran, sich auch zu registrieren, um
      Wartezeiten zu vermeiden. Gerne kannst du ihnen diesen Link senden:
      <a
        href="https://nachtresidenz.app/registrierung"
        target="_blank"
        rel="noopener noreferrer"
      >
        https://nachtresidenz.app/registrierung
      </a>
    </div>
    <br />
    <div class="typo-body">
      Deine Vorteile durch die Membercard:
    </div>
    <br />
    <ul class="block-items">
      <li>Geburtstagsspecials und VIP Vergünstigungen</li>
      <li>Einladungen zur Gästeliste für vergünstigten oder freien Eintritt</li>
      <li>
        Vorverkaufsrecht bei Sonderveranstaltungen (Halloween, Silvester,
        Live-Acts etc.)
      </li>
      <li>
        Exklusive Einladungen zu Specialevents außerhalb der Nachtresidenz
      </li>
      <li>Monatliche Newsletter über aktuelle Events</li>
    </ul>
    <br />
    <br />
    <div class="typo-body">Wir freuen uns auf dich!</div>
    <br />
    <br />
    <div class="typo-body">Liebe Grüße,<br />Lena von der Nachtresidenz</div>
    <br />
    <div class="typo-body">
      PS: Die Membercard befreit weder vom Eintritt, noch garantiert sie den
      Einlass. Das Hausrecht obliegt der Nachtresidenz. Du kannst jeder Zeit
      deine Mitgliedschaft widerrufen.
    </div>
  </div>
</template>

<script>
export default {
  layout: "email",
  async asyncData({ $fire, params }) {
    const { memberId = "" } = params;
    try {
      if (!memberId) throw "Invalid member ID.";

      const snapshots = await $fire.firestore
        .collection("users")
        .where("memberId", "==", memberId)
        .get();

      if (snapshots.size > 0) {
        const userDoc = snapshots.docs[0];
        return {
          name: userDoc.data().firstname,
          downloadUrl: `${process.env.BASE_URL}/card/${userDoc.id}/${memberId}`,
          e: null,
        };
      } else {
        throw "User not found.";
      }
    } catch (e) {
      return {
        name: "#{name}",
        downloadUrl: "#",
        e,
      };
    }
  },
  head: {
    title: "WICHTIG - Deine Membercard | Nachtresidenz",
  },
};
</script>

<style lang="scss" scoped>
.page-verify {
  display: flex;
  flex-direction: column;
}

a {
  margin-right: auto;
  text-decoration: none;
}

button {
  font-family: $font-family-register;
}

.btn-cta {
  margin-right: auto;
}
</style>
