<template>
  <div class="page-forgot">
    <div class="container">
      <div class="forgot-form">
        <div class="card">
          <div v-if="!success" class="form">
            <div class="block-info">
              <div class="typo-heading">CREATE NEW PASSWORD</div>
              <div class="typo-info">
                Your new password must be different from previous used
                passwords.
              </div>
            </div>
            <div class="block-input">
              <label>Neues Passwort</label>
              <input
                type="password"
                v-model="password"
                :class="[invalidFields.includes('password') && 'input-error']"
                @focus="removeInvalid('password')"
              />
              <small v-if="passwordDangerText" class="text-danger">{{
                passwordDangerText
              }}</small>
            </div>
            <div class="block-input">
              <label>Passwort bestätigen</label>
              <input
                type="password"
                v-model="confirmPassword"
                :class="[
                  invalidFields.includes('confirmPassword') && 'input-error',
                ]"
                @focus="removeInvalid('confirmPassword')"
              />
              <small v-if="confirmPasswordDangerText" class="text-danger">{{
                confirmPasswordDangerText
              }}</small>
            </div>
            <div class="block-cta">
              <button class="btn-cta" :disabled="loading" @click="savePassword">
                <fa v-if="loading" :icon="['fal', 'spinner']" spin />
                <span v-else>Passwort bestätigen</span>
              </button>
            </div>
          </div>
          <div v-else class="block-success">
            <fa :icon="['fal', 'circle-check']" size="4x" />
            <div class="block-info">
              <div class="typo-heading">Password reset successful</div>
              <div class="typo-info">
                You have successfully reset your password. Please use your new
                password when loggin in.
              </div>
            </div>
            <div class="block-cta">
              <nuxt-link to="/login">
                <button class="btn-cta">LOGIN</button>
              </nuxt-link>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  middleware: "no-auth",
  data() {
    return {
      loading: false,
      success: false,
      token: "",
      password: "",
      confirmPassword: "",
      passwordDangerText: "",
      confirmPasswordDangerText: "",
      invalidFields: [],
    };
  },
  created() {
    this.token = this.$route.query.token;
  },
  methods: {
    async savePassword() {
      const passwordErrors = this.validatePassword();
      this.invalidFields = [
        ...new Set([...this.invalidFields, ...passwordErrors]),
      ];

      if (!passwordErrors.length) {
        this.loading = true;
        try {
          if (!this.token) {
            throw "Reset password link is invalid.";
          }

          const doc = await this.$fire.firestore
            .collection("resetPasswordTokens")
            .doc(this.token)
            .get();

          if (doc.exists) {
            const { email, userId, createdAt } = doc.data();

            const created = new Date(createdAt.seconds * 1000).getTime();
            const now = this.$moment(this.$moment().format());
            const minutesPassed = now.diff(this.$moment(created), "minutes");
            if (minutesPassed >= 30) {
              throw "Reset password link has already expired.";
            }

            try {
              await this.$axios.post(`/updateUser`, {
                id: userId,
                email,
                password: this.password,
              });
            } catch (e) {
              throw "Failed to update password.";
            }

            // Delete token
            await doc.ref.delete();
          } else {
            throw "Reset password link is invalid.";
          }

          this.loading = false;
          this.success = true;
        } catch (e) {
          this.loading = false;
          alert(e || "Something went wrong. Please contact staff.");
        }
      }
    },
    validatePassword() {
      const invalid = [];
      this.passwordDangerText = "";
      this.confirmPasswordDangerText = "";
      if (!this.password) {
        invalid.push("password");
      }
      if (this.password.length < 6) {
        invalid.push("password");
        this.passwordDangerText =
          "Das Passwort muss mindestens 6 Zeichen lang sein.";
      }
      if (!this.confirmPassword || this.password != this.confirmPassword) {
        invalid.push("confirmPassword");
        if (this.password != this.confirmPassword) {
          this.confirmPasswordDangerText =
            "Die Passwörter stimmen nicht überein.";
        }
      }
      return invalid;
    },
    removeInvalid(value) {
      if (value === "password") {
        this.passwordDangerText = "";
      } else if (value === "confirmPassword") {
        this.confirmPasswordDangerText = "";
      }
      const index = this.invalidFields.findIndex(item => item === value);
      if (index > -1) {
        this.invalidFields.splice(index, 1);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.page-forgot {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $page-spacing;
  flex: 1;
}

.forgot-form {
  width: 325px;
}

.card {
  padding: 32px 24px 32px;
}

.form {
  display: flex;
  flex-direction: column;
}

.block-info {
  margin-bottom: 20px;
}

.typo-heading {
  margin-bottom: 24px;
  font-size: $font-size-xl;
  font-weight: $font-weight-bolder;
  text-transform: uppercase;

  @media (max-width: 576px) {
    font-size: $font-size-xl;
  }
}

.typo-info {
  font-size: $font-size-base;
  margin-bottom: 16px;
}

.block-error {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: $font-size-sm;
  color: $color-danger;
}

.block-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;

  a {
    text-decoration: none;
  }

  button {
    min-width: 72px;
  }
}

.block-success {
  text-align: center;

  .block-info {
    margin-top: 24px;
  }

  .block-cta {
    justify-content: center;
  }
}
</style>
