<template>
  <div class="app-register">
    <div class="app-register-topbar">
      <div
        v-if="currentStep > 0 && currentStep <= 3"
        class="back-button"
        @click="prevStep"
      >
        <fa :icon="['fal', 'chevron-left']" />
        Zurück
      </div>
    </div>
    <div class="app-register-sidebar">
      <register-sidebar :step="currentStep" />
    </div>
    <div class="app-register-content">
      <div class="app-register-stepper">
        <register-stepper v-if="currentStep <= 3" :step="currentStep" />
      </div>
      <component
        :is="currentStep <= 3 ? 'form' : 'div'"
        class="app-register-form"
        @submit.prevent="nextStep"
      >
        <welcome-message v-if="currentStep === 0" />
        <personal-data-form
          v-else-if="currentStep === 1"
          ref="personalDataForm"
          :form="form"
          @form-submitted="onFormSubmitted"
        />
        <contact-data-form
          v-else-if="currentStep === 2"
          ref="contactDataForm"
          :form="form"
          @form-submitted="onFormSubmitted"
        />
        <confirmation-form
          v-else-if="currentStep === 3"
          ref="confirmationForm"
          :form="form"
          @form-submitted="onFormSubmitted"
        />
        <otp-await
          v-else-if="currentStep === 4"
          :form="form"
          @otp-sent="onFormSubmitted"
        />
        <otp-form v-else-if="currentStep === 5" @otp-verified="nextStep" />
        <success-message v-else :user-id="form.userId" :email="form.email" />
        <button v-if="currentStep <= 3" type="submit" class="submit-button">
          {{ buttonText }}
          <fa :icon="['fas', 'chevron-right']" />
        </button>
      </component>
      <div class="app-register-help-info">
        <help-info>
          {{
            currentStep === 4
              ? "Keine Nachricht erhalten?"
              : "Probleme mit deiner Registrierung?"
          }}
        </help-info>
      </div>
    </div>
  </div>
</template>

<script>
import RegisterSidebar from "@/components/register/register-sidebar.vue";
import ConfirmationForm from "~/components/register/confirmation-form.vue";
import ContactDataForm from "~/components/register/contact-data-form.vue";
import HelpInfo from "~/components/register/help-info.vue";
import OtpAwait from "~/components/register/otp-await.vue";
import OtpForm from "~/components/register/otp-form.vue";
import PersonalDataForm from "~/components/register/personal-data-form.vue";
import RegisterStepper from "~/components/register/register-stepper.vue";
import SuccessMessage from "~/components/register/success-message.vue";
import WelcomeMessage from "~/components/register/welcome-message.vue";

export default {
  components: {
    RegisterSidebar,
    RegisterStepper,
    ContactDataForm,
    PersonalDataForm,
    ConfirmationForm,
    WelcomeMessage,
    SuccessMessage,
    OtpAwait,
    OtpForm,
    HelpInfo,
  },
  data() {
    return {
      currentStep: 0,
      form: {},
    };
  },
  computed: {
    buttonText() {
      if (this.currentStep === 0) return "LOS GEHT'S";
      if (this.currentStep < 3) return "WEITER";
      return "REGISTRIERUNG ABSCHLIESSEN";
    },
  },
  async mounted() {
    try {
      localStorage.removeItem("nac_reg_phone");
      localStorage.removeItem("nac_reg_verificationId");

      await this.$fire.auth.signOut();

      await this.$recaptcha.init();

      // Append Cookiebot script
      (function(c, oo, k, ie, b, o, t) {
        var a = oo.scripts[0],
          d = oo.createElement(k);
        (d.src = "https://consent.cookiebot.com/uc.js"), (d.id = c);
        d.setAttribute("data-cbid", ie), d.setAttribute(o, t);
        d.async = !1;
        d.addEventListener("load", function() {
          var e = new CustomEvent("CookiebotLoaded", { bubbles: !0 });
          oo.dispatchEvent(e);
        });
        typeof CookiebotCallback_Loaded === "function" &&
          CookiebotCallback_Loaded();
        a.parentNode.insertBefore(d, a);
      })(
        "Cookiebot",
        document,
        "script",
        "f0fd4cef-bead-4a8a-855a-a2cefe195440",
        location,
        "data-blockingmode",
        "auto"
      );

      window.addEventListener("CookiebotLoaded", this.handleCookiebotLoaded);
      window.addEventListener(
        "CookiebotOnAccept",
        this.handleCookiebotAcceptance
      );
      window.addEventListener(
        "CookiebotOnDecline",
        this.handleCookiebotDecline
      );
    } catch (e) {
      console.error(e);
    }
  },
  async beforeDestroy() {
    window.recaptchaVerifier = undefined;
    this.$recaptcha.destroy();
    this.hideCookiebot();
    window.removeEventListener("CookiebotLoaded", this.handleCookiebotLoaded);
    window.removeEventListener(
      "CookiebotOnAccept",
      this.handleCookiebotAcceptance
    );
    window.removeEventListener(
      "CookiebotOnDecline",
      this.handleCookiebotDecline
    );
  },
  methods: {
    onFormSubmitted(form) {
      this.form = { ...this.form, ...form };

      if (this.currentStep === 4) {
        this.nextStep();
      }
    },
    prevStep() {
      if (this.currentStep > 0) {
        this.currentStep--;
        return;
      }
    },
    async nextStep() {
      let success = false;
      if (this.currentStep === 0) {
        success = true;
      } else if (this.currentStep === 1) {
        success = this.$refs.personalDataForm.submit();
      } else if (this.currentStep === 2) {
        success = this.$refs.contactDataForm.submit();
      } else if (this.currentStep === 3) {
        success = this.$refs.confirmationForm.submit();
      } else if (this.currentStep === 4) {
        success = true;
      } else if (this.currentStep === 5) {
        success = true;
      }

      if (success) {
        if (this.currentStep < 6) {
          this.currentStep++;

          // scroll to top
          window.scrollTo(0, 0);
        }
      }
    },
    hideCookiebot() {
      const cookiebot = Cookiebot || window.Cookiebot;
      try {
        if (!cookiebot) throw "Cookiebot is undefined";
        cookiebot.hide();
      } catch (e) {
        console.log(e);
      }
    },
  },
};
</script>

<style lang="scss">
$register-page-side-spacing: 20px;
$register-page-side-spacing-mobile: 28px;
$register-topbar-height: 72px;
$register-topbar-height-mobile: 72px;
$register-topbar-bobttom-spacing: 20px;
$register-sidebar-top-spacing: 0;
$register-page-width: 1400px;
$register-input-gutter: 8px;
$register-input-gutter-mobile: 12px;

.app-register {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-left: $register-page-side-spacing;
  padding-right: $register-page-side-spacing;
  width: 100%;
  height: 100%;
  max-width: $register-page-width;
  font-family: $font-family-register;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  line-height: 1.6;

  @media (max-width: 1366px) {
    padding-left: $register-page-side-spacing-mobile;
    padding-right: $register-page-side-spacing-mobile;
    font-size: $font-size-lg;
  }

  input,
  button,
  select {
    font-family: $font-family-register;
    font-size: $font-size-lg;
  }

  input {
    &::placeholder {
      font-family: $font-family-register;
      color: rgba($color-dark, 0.2);
    }
    &::-webkit-input-placeholder {
      font-family: $font-family-register;
      color: rgba($color-dark, 0.2);
    }
    &:-ms-input-placeholder {
      font-family: $font-family-register;
      color: rgba($color-dark, 0.2);
    }
    &:-moz-placeholder {
      font-family: $font-family-register;
      color: rgba($color-dark, 0.2);
    }
    &::-moz-placeholder {
      font-family: $font-family-register;
      color: rgba($color-dark, 0.2);
    }
  }

  h1 {
    margin-bottom: 20px;
    font-size: $font-size-xxxxl;
    font-weight: $font-weight-bolder;
    text-transform: uppercase;

    @media (max-width: 1366px) {
      margin-bottom: 16px;
      font-size: $font-size-xl;
    }
  }

  a {
    text-decoration: none;
  }

  p {
    font-size: $font-size-lg;
  }

  label {
    display: block;
  }

  input,
  select {
    width: 100%;
  }

  .app-register-topbar {
    display: flex;
    align-items: center;
    height: $register-topbar-height;
    margin-bottom: $register-topbar-bobttom-spacing;

    @media (max-width: 1366px) {
      position: absolute;
      top: 0;
      left: $register-page-side-spacing-mobile;
      margin-bottom: 0;
      height: $register-topbar-height-mobile;
    }

    .back-button {
      cursor: pointer;

      @media (max-width: 1366px) {
        font-size: $font-size-base;
      }
    }
  }

  .app-register-sidebar {
    @media (min-width: 1367px) {
      position: absolute;
      top: calc(
        #{$register-topbar-height} + #{$register-sidebar-top-spacing} + #{$register-topbar-bobttom-spacing}
      );
      left: -72px;
    }

    @media (max-width: 1366px) {
      position: fixed;
      z-index: 99;
      bottom: 40px;
      right: 0;
    }
  }

  .app-register-stepper {
    margin-bottom: 40px;

    @media (max-width: 1366px) {
      margin-top: 24px;
      margin-bottom: 24px;
    }
  }

  .app-register-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;

    @media (max-width: 1366px) {
      margin-bottom: 72px;
    }
  }

  .app-register-help-info {
    display: none;

    @media (max-width: 1366px) {
      display: block;
      margin-top: 40px;
    }
  }

  .app-register-form {
    width: 100%;
  }

  .input-row {
    /* make row */
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    margin-top: -($register-input-gutter);
    margin-bottom: -($register-input-gutter);
    margin-left: -($register-input-gutter);
    margin-right: -($register-input-gutter);

    @media (max-width: 1366px) {
      margin-top: -($register-input-gutter-mobile);
      margin-bottom: -($register-input-gutter-mobile);
      margin-left: -($register-input-gutter-mobile);
      margin-right: -($register-input-gutter-mobile);
    }
  }

  .input-col {
    /* make column */
    position: relative;
    min-height: 1px;
    padding-top: $register-input-gutter;
    padding-bottom: $register-input-gutter;
    padding-left: $register-input-gutter;
    padding-right: $register-input-gutter;
    width: 100%;

    @media (max-width: 1366px) {
      padding-top: $register-input-gutter-mobile;
      padding-bottom: $register-input-gutter-mobile;
      padding-left: $register-input-gutter-mobile;
      padding-right: $register-input-gutter-mobile;
    }
  }

  .date-dropdowns {
    display: flex;

    select {
      margin-right: 20px;
    }
  }

  .submit-button {
    display: flex;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    min-width: 200px;
    height: 44px;
    font-family: $font-family-register;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    border: none;
    border-radius: 8px;
    cursor: pointer;

    @media (max-width: 1366px) {
      min-width: 240px;
    }

    &:hover {
      background-color: #333;
    }

    svg {
      margin-right: 0;
    }
  }
}
</style>
