<template>
  <div class="page-registration">
    <div class="typo-body">Hallo {{ name }},</div>
    <br />
    <div class="typo-body">
      bitte lade diesen mit einem <b>KLICK</b> auf den unten stehenden
      <b>BUTTON</b> herunter und zeige ihn bei deinem nächsten Besuch am Eingang
      vor.
    </div>
    <br />
    <div class="block-register">
      <a :href="qrCodeUrl" target="_blank">
        <button class="btn-cta">QR CODE - KLICKE HIER</button>
      </a>
    </div>
    <small>ID:{{ registrationId }}</small>
    <br />
    <div class="typo-body">
      Bitte bringe bei deinem nächsten Besuch Folgendes mit:
    </div>
    <br />
    <div class="block-items">
      <ul style="list-style-type: disc">
        <li>Deinen persönlichen QR Code</li>
        <li>
          Ein gültiges Ausweis Dokument (Führerschein, Reisepass,
          Personalausweis)
        </li>
        <li>
          Unser Dresscode in der Nachtresidenz ist stylisch, elegant und
          gepflegt. Der Einlass ist ab 18+
        </li>
      </ul>
    </div>
    <br />
    <div class="typo-body">
      Noch ein letzter Hinweis: dein persönlicher QR Code ist keine
      Einlassgarantie.
    </div>
    <br />
    <div class="typo-body">Wir freuen uns auf dich.</div>
    <br />
    <br />
    <div class="typo-body">
      Liebe Grüße<br />
      Lena von der Nachtresidenz
    </div>
    <br />
    <div class="typo-body">
      <a href="https://www.nachtresidenz.de/datenschutz/" target="_blank"
        ><u>Unsere Datenschutzerklärung – klicke hier</u></a
      ><br />
      <a href="https://www.nachtresidenz.de/member-agb/" target="_blank"
        ><u>Unsere AGBs – klicke hier</u></a
      >
    </div>
  </div>
</template>

<script>
export default {
  layout: "email",
  async asyncData({ $fire, params }) {
    const { registrationId = "" } = params;
    try {
      if (!registrationId) throw "Invalid registration ID.";

      const snapshots = await $fire.firestore
        .collection("users")
        .where("registrationId", "==", registrationId)
        .get();

      if (snapshots.size > 0) {
        const userDoc = snapshots.docs[0];
        return {
          name: userDoc.data().firstname,
          qrCodeUrl: `${process.env.BASE_URL}/qrcode/${registrationId}`,
          registrationId,
          e: null,
        };
      } else {
        throw "Registration not found.";
      }
    } catch (e) {
      return {
        name: "#{name}",
        qrCodeUrl: "#",
        registrationId,
        e,
      };
    }
  },
  head: {
    title: "WICHTIG - so bekommst du deinen digitalen QR Code | Nachtresidenz",
  },
};
</script>

<style lang="scss" scoped>
a {
  color: #202020;
}

button {
  font-family: $font-family-register;
}

.page-registration {
  display: flex;
  flex-direction: column;
}

.block-register {
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
  }
}

.register-id {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 36px;
  width: 248px;
  height: 62px;
  background-color: #fff;
  border: 3px solid #202020;
}

.block-items {
  line-height: 1.7;
}
</style>
