<template>
  <div class="page-member-card">
    <client-only>
      <vue-html2pdf
        v-if="printed"
        ref="html2Pdf"
        :show-layout="false"
        :float-layout="false"
        :enable-download="true"
        :preview-modal="false"
        :manual-pagination="true"
        pdf-content-width="323px"
        :html-to-pdf-options="{
          filename: `${printed ? printed.name : '#######'} - Member Card`,
          image: {
            type: 'png',
          },
          html2canvas: {
            scale: 3,
            backgroundColor: '#000000',
            scrollX: 0,
            scrollY: 0,
          },
          jsPDF: {
            orientation: 'landscape',
            unit: 'in',
            format: [3.36, 2.125],
          },
        }"
      >
        <section slot="pdf-content">
          <div style="width: 323px">
            <member-card :content="printed" />
          </div>
        </section>
      </vue-html2pdf>
    </client-only>
    <div
      :class="['btn-wallet', { 'btn-wallet-disabled': !valid }]"
      @click="saveCardToAppleWallet"
    >
      <img src="/applewallet.png" alt="Add card to Apple Wallet" />
    </div>
    <div
      :class="['btn-gpay', { 'btn-gpay-disabled': !valid }]"
      @click="saveCardToGPay"
    >
      <img src="/gpay.png" alt="Add card to GPay" />
    </div>
    <!-- <button class="btn-cta" :disabled="!valid" @click="savePDF">
      Als PDF speichern
    </button> -->
  </div>
</template>

<script>
import MemberCard from "@/components/member-card-new.vue";

export default {
  layout: "fullscreen",
  components: {
    MemberCard,
  },
  async asyncData({ $axios, $fire, $date, env, params }) {
    let printed = null;
    let gpaySaveUrl = "";
    let walletSaveUrl = "";

    try {
      const { id = "", memberId = "" } = params || {};

      if (!id || !memberId) throw "Bad parameters";

      const doc = await $fire.firestore
        .collection("users")
        .doc(id)
        .get();

      if (!doc.exists) throw "User not found";

      const {
        firstname,
        lastname,
        email,
        memberCardCreatedAt,
        memberCardExpiresAt,
        birthdate,
        memberId: dbMemberId,
        gpayUrl = "",
        walletUrl = "",
      } = doc.data();

      if (memberId !== dbMemberId) throw "Invalid member ID";

      const name = `${firstname} ${lastname}`;
      const bd = $date.convertFirestoreTimestampToDate(birthdate);
      const created = $date.convertFirestoreTimestampToDate(
        memberCardCreatedAt
      );
      const expires = $date.convertFirestoreTimestampToDate(
        memberCardExpiresAt
      );

      printed = {
        id: doc.id,
        name,
        email,
        created,
        expires,
        birthdate: bd,
        memberId,
      };

      const createPassTasks = [];
      // if (!gpayUrl) {
      createPassTasks.push(
        $axios
          .post(`${env.backendApiUrl}/createLoyalty`, {
            ...printed,
          })
          .then(response => {
            const { saveUrl } = response.data;
            gpaySaveUrl = saveUrl;
          })
          .catch(e => {
            console.error(e);
          })
      );
      // } else {
      //   gpaySaveUrl = decodeURIComponent(gpayUrl);
      // }

      // if (!walletUrl) {
      createPassTasks.push(
        $axios
          .post("/generateWalletPass", {
            ...printed,
          })
          .then(response => {
            const { saveUrl } = response.data;
            walletSaveUrl = saveUrl;
          })
          .catch(e => {
            console.error(e);
          })
      );
      // } else {
      //   walletSaveUrl = decodeURIComponent(walletUrl);
      // }

      if (createPassTasks.length) {
        await Promise.all(createPassTasks);
      }

      return {
        printed,
        valid: true,
        gpaySaveUrl,
        walletSaveUrl,
      };
    } catch (e) {
      console.error(e);
      return {
        printed,
        valid: false,
        gpaySaveUrl,
        walletSaveUrl,
      };
    }
  },
  async mounted() {
    if (this.valid) {
      await this.updateFirestoreUrls();
    } else {
      alert("Invalid member card");
    }
  },
  methods: {
    async updateFirestoreUrls() {
      const { id } = this.printed;
      if (this.gpaySaveUrl) {
        const encodedGpayUrl = encodeURIComponent(this.gpaySaveUrl);
        await this.$fire.firestore
          .collection("users")
          .doc(id)
          .update({
            gpayUrl: encodedGpayUrl,
          });
      }
      if (this.walletSaveUrl) {
        const encodedWalletUrl = encodeURIComponent(this.walletSaveUrl);
        await this.$fire.firestore
          .collection("users")
          .doc(id)
          .update({
            walletUrl: encodedWalletUrl,
          });
      }
    },
    savePDF() {
      if (!this.valid) return;
      this.$refs.html2Pdf.generatePdf();
    },
    async saveCardToGPay() {
      if (!this.valid || !this.gpaySaveUrl) return;
      window.open(this.gpaySaveUrl, "_blank");
    },
    async saveCardToAppleWallet() {
      if (!this.valid || !this.walletSaveUrl) return;
      window.open(this.walletSaveUrl, "_blank");
    },
  },
};
</script>

<style lang="scss" scoped>
.page-member-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;

  .btn-cta {
    font-family: $font-family-register;
    margin-top: 20px;
    border-radius: 12px;
  }
}

.btn-gpay {
  display: flex;
  margin-top: 20px;
  width: 100px;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
  }

  &-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}

.btn-wallet {
  display: flex;
  margin-top: 20px;
  width: 150px;
  cursor: pointer;

  img {
    width: 100%;
    height: auto;
  }

  &-disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
}
</style>
