<template>
  <div class="page-verify">
    <div class="container">
      <div class="verify-form">
        <div class="typo-heading">DEINE ANMELDUNG WAR<br />ERFOLGREICH</div>
        <div class="typo-info">
          In deinem E-Mail Postfach findest du nun deine persönliche Membercard,
          diese benötigst du in Zukunft immer wenn du die Nachtresidenz
          besuchst.
        </div>
        <div class="block-cta">
          <a href="https://www.nachtresidenz.de/events/">
            <button class="btn-cta btn-lg">
              <span>ZU DEN EVENTS</span>
              <fa :icon="['fal', 'chevron-right']" />
            </button>
          </a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  async mounted() {
    try {
      this.$nextTick(() => {
        this.$nuxt.$loading.start();
      });

      const { verificationId = "" } = this.$route.query;

      let email = "";
      const snapshots = await this.$fire.firestore
        .collection("users")
        .where("verificationId", "==", verificationId)
        .get();
      if (snapshots.size > 0) {
        const doc = snapshots.docs[0];
        email = doc.data().email || "";

        if (!email) throw "Invalid verification ID.";

        await this.$axios
          .get(`/verify?verificationId=${verificationId}`)
          .catch(error => {
            throw error.response.data;
          });

        // Activate Cleverreach receiver
        try {
          this.$axios.put(`/updateCleverreachReceiver`, {
            groupId: "502818", // Hardcoded group id
            email,
            receiver: {
              activated: this.$moment().unix(),
            },
          });
        } catch (error) {
          console.log("Cleverreach error", error);
        }

        alert("Verification successful.");
      }
    } catch (e) {
      alert(e);
    } finally {
      this.$nuxt.$loading.finish();
    }
  },
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

button {
  font-family: "PT Sans", sans-serif;
}

.container {
  flex-direction: column;
}

.page-verify {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 56px 32px;
  flex: 1;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;

  @media (max-width: 576px) {
    font-size: 16px;
  }
}

.verify-form {
  width: 500px;
  margin: 0 auto;

  @media (max-width: 576px) {
    width: 100%;
  }
}

.typo-heading {
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.typo-info {
  font-size: 16px;
  margin-bottom: 16px;

  @media (max-width: 576px) {
    font-size: 16px;
  }
}

.block-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

  a {
    text-decoration: none;
    width: 60%;
  }

  button {
    width: 100%;
  }
}
</style>
