<template>
  <div class="page-forgot">
    <div class="container">
      <div class="forgot-form">
        <div class="card">
          <form class="form" @submit.prevent="submit">
            <div class="block-info">
              <div class="typo-heading">FORGOT PASSWORD?</div>
              <div class="typo-info">
                Enter the email address associated with your account.
              </div>
              <div class="typo-info">
                We will email you a link to reset your password.
              </div>
            </div>
            <div class="block-input">
              <input
                type="email"
                v-model="email"
                required
                placeholder="Enter Email Address"
              />
              <div v-if="error" class="block-error">
                {{ error }}
              </div>
            </div>
          </form>
          <div class="block-cta">
            <nuxt-link to="/login">
              <button class="btn-secondary">
                <fa :icon="['fal', 'chevron-left']" />
                <span>ZURÜCK</span>
              </button>
            </nuxt-link>
            <button class="btn-cta" :disabled="!email" @click="submit">
              <fa v-if="loading" :icon="['fal', 'spinner']" spin />
              <span v-else>WEITER</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { customAlphabet } from "nanoid";

export default {
  middleware: "no-auth",
  data() {
    return {
      email: "",
      loading: false,
      error: "",
    };
  },
  asyncData() {
    return {
      baseUrl: process.env.BASE_URL,
    };
  },
  methods: {
    async submit() {
      try {
        this.loading = true;
        this.error = "";

        let userId = "";
        const email = this.email.trim().toLowerCase();

        if (!email) {
          throw "Please enter the email address.";
        } else {
          if (!/^[\w-.]+@([\w-]+\.)+[\w-]{2,4}$/.test(email)) {
            throw "Invalid email address.";
          }
        }

        // Check if the system has the email of given account or not
        const accounts = await this.$fire.firestore
          .collection("users")
          .where("email", "==", email)
          .get();

        if (!accounts.size) {
          throw "Cannot find the account from the given email.";
        } else {
          accounts.forEach(account => {
            const { authId = "" } = account.data();
            if (authId) {
              userId = authId;
            }
          });
        }

        if (!userId) {
          throw "Cannot find the account from the given email.";
        }

        // Check if there's reset token for this email, if so clear them first
        const existTokens = await this.$fire.firestore
          .collection("resetPasswordTokens")
          .where("email", "==", email)
          .get();

        if (existTokens.size) {
          const batch = this.$fire.firestore.batch();
          existTokens.forEach(token => {
            const ref = this.$fire.firestore
              .collection("resetPasswordTokens")
              .doc(token.id);
            batch.delete(ref);
          });
          await batch.commit();
        }

        const token = customAlphabet("1234567890abcdef", 32)();
        const resetUrl = `${this.baseUrl}/reset-password?token=${token}`;

        await this.$fire.firestore
          .collection("resetPasswordTokens")
          .doc(token)
          .set({
            userId,
            email,
            createdAt: this.$fireModule.firestore.FieldValue.serverTimestamp(),
          });

        await this.$axios.post(`/sendResetPasswordEmail`, {
          to: email,
          url: resetUrl,
        });

        this.loading = false;
        alert("Reset password email has been sent successfully.");
      } catch (error) {
        this.error = error;
        this.loading = false;
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.page-forgot {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $page-spacing;
  flex: 1;
}

.forgot-form {
  width: 325px;
}

.card {
  padding: 32px 24px 32px;
}

.form {
  display: flex;
  flex-direction: column;
}

.block-info {
  margin-bottom: 20px;
}

.typo-heading {
  margin-bottom: 24px;
  font-size: $font-size-xl;
  font-weight: $font-weight-bolder;
  text-transform: uppercase;

  @media (max-width: 576px) {
    font-size: $font-size-xl;
  }
}

.typo-info {
  font-size: $font-size-base;
  margin-bottom: 16px;
}

.block-error {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: $font-size-sm;
  color: $color-danger;
}

.block-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 32px;

  a {
    text-decoration: none;
  }

  button {
    min-width: 72px;
  }
}
</style>
