<template>
  <div class="page-profile">
    <div class="container">
      <div class="form-container">
        <div class="card">
          <div class="form-header">
            <h1>Profil bearbeiten</h1>
          </div>
          <div class="block-input">
            <label>Vorname</label>
            <input
              v-model="profile.firstname"
              :class="[invalidFields.includes('firstname') && 'input-error']"
              @focus="removeInvalid('firstname')"
            />
          </div>
          <div class="block-input">
            <label>Nachname</label>
            <input
              v-model="profile.lastname"
              :class="[invalidFields.includes('lastname') && 'input-error']"
              @focus="removeInvalid('lastname')"
            />
          </div>
          <div class="block-input">
            <label>E-Mail-Adresse</label>
            <div>{{ profile.email }}</div>
          </div>
          <div class="block-input">
            <label>Telefonnummer</label>
            <vue-tel-input
              v-model="profile.phone"
              :style-classes="
                invalidFields.includes('phone')
                  ? 'custom-tel-input tel-input-invalid'
                  : 'custom-tel-input'
              "
              @focus="removeInvalid('phone')"
              @validate="validatePhone"
              @blur="validatePhone"
            ></vue-tel-input>
          </div>
          <div class="block-input">
            <label>Straße</label>
            <input
              v-model="profile.street"
              :class="[invalidFields.includes('street') && 'input-error']"
              @focus="removeInvalid('street')"
            />
          </div>
          <div class="block-input">
            <label>Hausnummer</label>
            <input
              v-model="profile.houseNumber"
              :class="[invalidFields.includes('houseNumber') && 'input-error']"
              @focus="removeInvalid('houseNumber')"
            />
          </div>
          <div class="block-input">
            <label>PLZ</label>
            <input
              v-model="profile.zip"
              :class="[invalidFields.includes('zip') && 'input-error']"
              @focus="removeInvalid('zip')"
            />
          </div>
          <div class="block-input">
            <label>Ort</label>
            <input
              v-model="profile.city"
              :class="[invalidFields.includes('city') && 'input-error']"
              @focus="removeInvalid('city')"
            />
          </div>
          <div class="block-input">
            <label>Geburtstag</label>
            {{
              profile.birthdate
                ? $moment(profile.birthdate).format("MMMM Do YYYY")
                : "-"
            }}            
          </div>
          <div class="block-input">
            <label>Geschlecht</label>
            <select
              v-model="profile.gender"
              :class="[invalidFields.includes('gender') && 'input-error']"
              @change="removeInvalid('gender')"
            >
              <option v-for="item in genders" :key="item" :value="item">
                {{ item }}
              </option>
            </select>
          </div>
          <div class="block-cta">
            <button
              class="btn-cta"
              :disabled="savingProfile"
              @click="saveProfile"
            >
              <fa v-if="savingProfile" :icon="['fal', 'spinner']" spin />
              <span v-else>Profil speichern</span>
            </button>
          </div>
        </div>
        <div class="card">
          <div class="form-header">
            <h1>Passwort speichern</h1>
          </div>
          <div class="block-input">
            <label>Neues Passwort</label>
            <input
              type="password"
              v-model="password"
              :class="[invalidFields.includes('password') && 'input-error']"
              @focus="removeInvalid('password')"
            />
            <small v-if="passwordDangerText" class="text-danger">{{
              passwordDangerText
            }}</small>
          </div>
          <div class="block-input">
            <label>Passwort bestätigen</label>
            <input
              type="password"
              v-model="confirmPassword"
              :class="[
                invalidFields.includes('confirmPassword') && 'input-error',
              ]"
              @focus="removeInvalid('confirmPassword')"
            />
            <small v-if="confirmPasswordDangerText" class="text-danger">{{
              confirmPasswordDangerText
            }}</small>
          </div>
          <div class="block-cta">
            <button
              class="btn-cta"
              :disabled="savingPassword"
              @click="savePassword"
            >
              <fa v-if="savingPassword" :icon="['fal', 'spinner']" spin />
              <span v-else>Passwort bestätigen</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const genders = {
  MALE: "Männlich",
  FEMALE: "Weiblich",
  DIVERSE: "Divers",
  UNKNOWN: "Keine Angaben",
};

export default {
  middleware: "auth",
  data() {
    return {
      profile: {
        userId: "",
        firstname: "",
        lastname: "",
        email: "",
        phone: "",
        street: "",
        houseNumber: "",
        zip: "",
        city: "",
        birthdate: "",
        gender: "",
      },
      savingProfile: false,
      savingPassword: false,
      password: "",
      confirmPassword: "",
      passwordDangerText: "",
      confirmPasswordDangerText: "",
      genders: [genders.MALE, genders.FEMALE, genders.DIVERSE, genders.UNKNOWN],
      invalidFields: [],
    };
  },
  async asyncData({ $fire, store }) {
    try {
      const result = await $fire.firestore
        .collection("users")
        .where("authId", "==", store.getters.currentUser.uid)
        .get()
        .then((snapshots) => {
          if (snapshots.empty) {
            return { profile: null, error: "Profile doesn't exist" };
          } else {
            let profile = null;
            snapshots.forEach((doc) => {
              const {
                authId = "",
                firstname = "",
                lastname = "",
                email = "",
                phone = "",
                street = "",
                houseNumber = "",
                postal = "",
                city = "",
                birthdate = "",
                gender = "",
              } = doc.data();

              profile = {
                userId: doc.id,
                authId,
                firstname,
                lastname,
                email,
                phone,
                street,
                houseNumber,
                zip: postal,
                city,
                birthdate: new Date(birthdate.seconds * 1000),
                gender,
              };
            });
            return {
              profile,
              error: null,
            };
          }
        });
      return result;
    } catch (e) {
      console.log("Failed to get user profile");
      return { profile: null, error: e };
    }
  },
  methods: {
    async saveProfile() {
      const profileErrors = this.validateProfile();
      this.invalidFields = [
        ...new Set([...this.invalidFields, ...profileErrors]),
      ];
      if (!profileErrors.length) {
        this.savingProfile = true;

        const {
          firstname,
          lastname,
          phone,
          street,
          houseNumber,
          zip,
          city,
          // birthdate,
          gender,
        } = this.profile;

        try {
          await this.$fire.firestore
            .collection("users")
            .doc(this.profile.userId)
            .set(
              {
                firstname,
                lastname,
                phone,
                gender,
                // birthdate,
                street,
                houseNumber,
                city,
                postal: zip,
              },
              { merge: true }
            );

          console.log(`User updated: ${this.profile.userId}`);

          this.savingProfile = false;
          alert("Updated profile successfully!");
        } catch (e) {
          this.savingProfile = false;
          alert("Something went wrong. Please contact staff.");
          console.log("Update profile failed", e);
        }
      }
    },
    validateProfile() {
      const {
        firstname,
        lastname,
        phone,
        street,
        houseNumber,
        zip,
        city,
        // birthdate,
        gender,
      } = this.profile;

      const invalid = [];
      if (!firstname.trim()) {
        invalid.push("firstname");
      }
      if (!lastname.trim()) {
        invalid.push("lastname");
      }
      if (
        !/^\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$/.test(
          phone
        )
      ) {
        invalid.push("phone");
      }
      if (!street.trim()) {
        invalid.push("street");
      }
      if (!houseNumber.trim()) {
        invalid.push("houseNumber");
      }
      if (!/^[0-9]{4,5}$/.test(zip)) {
        invalid.push("zip");
      }
      if (!city.trim()) {
        invalid.push("city");
      }
      // if (!birthdate) {
      //   invalid.push("birthdate");
      // }
      if (!gender) {
        invalid.push("gender");
      }
      return invalid;
    },
    async savePassword() {
      const passwordErrors = this.validatePassword();
      this.invalidFields = [
        ...new Set([...this.invalidFields, ...passwordErrors]),
      ];

      if (!passwordErrors.length) {
        this.savingPassword = true;

        try {
          await this.$axios.post(`/updateUser`, {
            id: this.profile.authId,
            email: this.profile.email,
            password: this.password,
          });
          this.savingPassword = false;
          alert("Updated password successfully.");
        } catch (e) {
          this.savingPassword = false;
          alert("Something went wrong. Please contact staff.");
          console.log("Update password failed", e);
        }
      }
    },
    validatePassword() {
      const invalid = [];
      this.passwordDangerText = "";
      this.confirmPasswordDangerText = "";
      if (!this.password) {
        invalid.push("password");
      }
      if (this.password.length < 6) {
        invalid.push("password");
        this.passwordDangerText =
          "Das Passwort muss mindestens 6 Zeichen lang sein.";
      }
      if (!this.confirmPassword || this.password != this.confirmPassword) {
        invalid.push("confirmPassword");
        if (this.password != this.confirmPassword) {
          this.confirmPasswordDangerText =
            "Die Passwörter stimmen nicht überein.";
        }
      }
      return invalid;
    },
    removeInvalid(value) {
      if (value === "password") {
        this.passwordDangerText = "";
      } else if (value === "confirmPassword") {
        this.confirmPasswordDangerText = "";
      }
      const index = this.invalidFields.findIndex((item) => item === value);
      if (index > -1) {
        this.invalidFields.splice(index, 1);
      }
    },
    validatePhone() {
      this.profile.phone = this.profile.phone.trim().split(" ").join("");
    },
  },
};
</script>

<style lang="scss" scoped>
.page-profile {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $page-spacing;
  flex: 1;
}

.card {
  padding: 24px;

  &:not(:last-child) {
    margin-bottom: 28px;
  }
}

.form-container {
  width: 100%;
}

.form-header {
  h1 {
    font-size: $font-size-xxl;
    margin-bottom: 12px;
  }
}

.block-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;

  button {
    min-width: 80px;
  }

  a {
    font-size: $font-size-sm;
    text-decoration: underline;
  }
}
</style>