<template>
  <div class="page-login">
    <div class="container">
      <div class="login-form">
        <div class="card">
          <!-- <div class="logo">
            <img src="logo.jpg" alt="logo" />
          </div> -->
          <form class="form" @submit.prevent="signIn">
            <div class="block-input">
              <label>E-Mail-Adresse</label>
              <input type="email" v-model="login.email" required />
            </div>
            <div class="block-input">
              <label>Passwort</label>
              <input type="password" v-model="login.password" required />
              <div class="block-forgot">
                <nuxt-link to="/forgot">Passwort vergessen</nuxt-link>
              </div>
            </div>
            <div v-if="error" class="block-error">
              {{ error }}
            </div>
            <div class="block-cta">
              <button :disabled="loading" class="btn-cta">
                <fa v-if="loading" :icon="['fal', 'spinner']" spin />
                <span v-else>Login</span>
              </button>
              <nuxt-link to="/registrierung">Noch kein Member?</nuxt-link>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const vaccinationStatusOptions = {
  VACCINATED: "VACCINATED",
  NOT_VACCINATED: "NOT_VACCINATED",
  RECOVERED: "RECOVERED",
  NOT_SPECIFIED: "NOT_SPECIFIED",
};

export default {
  middleware: "no-auth",
  data() {
    return {
      login: {},
      loading: false,
      error: "",
      errors: {
        "auth/user-not-found": "Account nicht vorhanden.",
        "auth/wrong-password": "E-Mail oder Passwort ungültig.",
        "auth/no-verified":
          "Die E-Mail-Adresse wurde noch nicht bestätigt. Bitte nutze hierfür den Bestätigungslink, den wir an deine E-Mail-Adresse geschickt haben.",
        "auth/no-approved":
          "Der Account wurde noch nicht verifiziert. Bitte lass dich bei deinem nächsten Besuch in der Nachtresidenz freischalten.",
        "auth/expires":
          "This email account has already expired. Please contact staff.",
      },
    };
  },
  methods: {
    async signIn() {
      this.error = "";
      try {
        this.loading = true;

        const { email, password } = this.login;

        // Check if the email passes all conditions to sign in
        let exists = false;
        let isVerified = false;
        let isApproved = false;
        let isExpired = false;
        await this.$fire.firestore
          .collection("users")
          .where("email", "==", email.toLowerCase())
          .get()
          .then((snapshots) => {
            exists = !snapshots.empty;
            if (exists) {
              snapshots.forEach((doc) => {
                const {
                  verified = false,
                  approved = false,
                  memberCardExpiresAt = "",
                } = doc.data();
                isVerified = verified;
                isApproved = approved;
                if (memberCardExpiresAt) {
                  const now = new Date().getTime();
                  const expires = new Date(
                    memberCardExpiresAt.seconds * 1000
                  ).getTime();
                  isExpired = now > expires;
                }
              });
            }
          });

        if (!exists) {
          this.error = this.errors["auth/user-not-found"];
        } else if (isExpired) {
          this.error = this.errors["auth/expires"];
        } else if (!isVerified) {
          this.error = this.errors["auth/no-verified"];
        } else if (!isApproved) {
          this.error = this.errors["auth/no-approved"];
        }

        if (this.error) {
          this.loading = false;
          return;
        }

        this.$fire.auth
          .signInWithEmailAndPassword(email, password)
          .catch((e) => {
            this.error = this.errors[e.code] || "Something went wrong.";
            this.loading = false;
            console.log("login error", e);
          });
      } catch (error) {
        this.loading = false;
        console.log("login error", error);
      }
    },
  },
  watch: {
    "$store.getters.currentUser": function (val) {
      if (val) {
        console.log("logged in successfully");
        this.$router.push("/membercard");
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.page-login {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $page-spacing;
  flex: 1;
}

.login-form {
  width: 325px;
}

.form {
  display: flex;
  flex-direction: column;
  padding: 32px;
}

.logo {
  display: flex;
  padding: 8px 40px;
  min-height: 164px;
  background-color: $color-light;
  opacity: 0.8;

  img {
    width: 100%;
    height: 100%;
  }
}

.block-forgot {
  display: flex;
  justify-content: flex-end;
  margin-top: 4px;
  font-size: 12px;

  a {
    text-decoration: none;
  }
}

.block-error {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 12px;
  margin-bottom: 12px;
  font-size: $font-size-sm;
  color: $color-danger;
}

.block-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8px;

  button {
    min-width: 72px;
    margin-bottom: 16px;
  }

  a {
    font-size: $font-size-sm;
    text-decoration: underline;
  }
}
</style>