<template>
  <div class="page-pass">
    <div class="container">
      <div class="block-pass">
        <member-card-google v-if="pass" :content="pass" />
        <div v-else class="card">
          <div class="block-no-data">
            Deine Membercard ist noch nicht aktiv. Bitte lasse sie beim nächsten
            Besuch in der Nachtresidenz von unserem Team freischalten.
          </div>
        </div>
      </div>
      <div v-if="pass && pass.isExpired" class="card block-expires">
        Your membership is expired.
        <br />
        Please contact staff.
      </div>
    </div>
  </div>
</template>

<script>
import MemberCardGoogle from "~/components/member-card-google.vue";

export default {
  components: { MemberCardGoogle },
  middleware: "auth",
  async asyncData({ $axios, $fire, store }) {
    try {
      let userId = "";
      let memberData = null;
      await $fire.firestore
        .collection("users")
        .where("authId", "==", store.getters.currentUser.uid)
        .get()
        .then((snapshots) => {
          snapshots.forEach((doc) => {
            userId = doc.id;
            memberData = { ...doc.data() };
          });
        });

      if (userId) {
        // const res = await $axios.get(`/getLoyalty?id=${userId}`);
        // const { data: pass = {} } = res || {};
        // if (pass) {
        //   return { pass: { ...pass, expiresAt, isExpired } };
        // }
        const {
          memberId,
          birthdate,
          email,
          firstname,
          lastname,
          memberCardExpiresAt,
        } = memberData;
        let expiresAt = null;
        let isExpired = false;
        if (memberCardExpiresAt) {
          const now = new Date().getTime();
          const expires = new Date(
            memberCardExpiresAt.seconds * 1000
          ).getTime();
          isExpired = now > expires;
          expiresAt = new Date(expires);
        }
        const bdate = new Date(birthdate.seconds * 1000).getTime();
        return {
          pass: {
            memberId,
            accountName: [firstname, lastname].join(" ").trim(),
            accountId: email,
            birthdate: bdate,
            expiresAt,
            isExpired,
            barcode: {
              value: userId,
              type: "CODE128",
            },
          },
        };
      }
      return { pass: null };
    } catch (e) {
      console.log("Failed to get a member card", e);
      return { pass: null };
    }
  },
};
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  flex-direction: column;
}

.page-pass {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $page-spacing;
  flex: 1;

  @media (max-width: 576px) {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
  }
}

.block-pass {
  display: flex;
  position: relative;
  width: 100%;
}

.card {
  margin: 0 auto;
  width: auto;
}

.block-no-data {
  padding: 20px;
  text-align: center;
}

.block-expires {
  margin-top: 20px;
  padding: 20px;
  text-align: center;
  color: $color-danger;
}

.block-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  button {
    min-width: 72px;
    margin-bottom: 16px;
  }
}
</style>