<template>
  <div class="page-verify">
    <div class="container">
      <div class="verify-form">
        <div class="typo-heading">WELCOME TO THE NACHTRESIDENZ FAMILY</div>
        <div class="typo-info">
          In deinem WhatsApp findest du nun deinen Bestätigungscode. Dort sende
          ich dir nach Bestätigung auch deine Membercard, wo du sie dir bequem
          herunterladen kannst. Deine Membercard benötigst du in Zukunft bei
          jedem Event bei uns in der Nachtresidenz. Wir freuen uns auf dich!
        </div>
        <div class="block-cta">
          <a href="https://wa.me/491733648661" target="_blank">
            <button class="btn-cta btn-lg">
              <span>BOOK YOUR VIP LOUNGE NOW</span>
              <fa :icon="['fal', 'chevron-right']" />
            </button>
          </a>
        </div>
        <div class="block-ps">
          <span>
            Bei allen Fragen die NICHTS mit einer VIP Tischreservierung zu tun
            haben kannst du dich an Lena via WhatsApp wenden:
            <a href="https://wa.me/491733648661" target="_blank"
              >https://wa.me/491733648661</a
            >
          </span>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  async mounted() {
    try {
      this.$nextTick(() => {
        this.$nuxt.$loading.start();
      });

      let { verificationId = "" } = this.$route.query;
      if(verificationId == ""){
        verificationId = localStorage.getItem("nac_reg_verificationId");
      }

      let email = "";
      const snapshots = await this.$fire.firestore
        .collection("users")
        .where("verificationId", "==", verificationId)
        .get();
      if (snapshots.size > 0) {
        const doc = snapshots.docs[0];
        email = doc.data().email || "";
        const verified = doc.data().verified;
       
        if (!email) throw "Invalid verification ID.";
        if(verified){
          doc.ref.update({ unverifiedDeleted: true, welcomeSmsPending: true, welcomeSmsProcessing: false });
          localStorage.removeItem("nac_reg_verificationId");
        }else{
          await this.$axios
            .get(`/verify?verificationId=${verificationId}`)
            .catch(error => {
              throw error.response.data;
            });

          // Activate Cleverreach receiver
          try {
            this.$axios.put(`/updateCleverreachReceiver`, {
              groupId: "502818", // Hardcoded group id
              email,
              receiver: {
                activated: this.$moment().unix(),
              },
            });
          } catch (error) {
            console.log("Cleverreach error", error);
          }
          doc.ref.update({ unverifiedDeleted: true, welcomeSmsPending: true });
          localStorage.removeItem("nac_reg_verificationId");
        }
        
      }
    } catch (e) {
      alert(e);
    } finally {
      this.$nuxt.$loading.finish();
    }
  },
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

button {
  font-family: "PT Sans", sans-serif;
}

.container {
  flex-direction: column;
}

.page-verify {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 56px 32px;
  flex: 1;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;

  @media (max-width: 576px) {
    font-size: 16px;
  }
}

.verify-form {
  width: 500px;
  margin: 0 auto;

  @media (max-width: 576px) {
    width: 100%;
  }
}

.typo-heading {
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.typo-info {
  font-size: 16px;
  margin-bottom: 16px;

  @media (max-width: 576px) {
    font-size: 16px;
  }
}

.block-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

  a {
    text-decoration: none;
    width: 60%;
  }

  button {
    width: 100%;
  }
}

.block-ps {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  @media (max-width: 576px) {
    width: 90%;
  }

  a {
    white-space: nowrap;
    text-decoration: underline;
  }
}
</style>
