<template>
  <div class="page-welcome">
    <div class="container">
      <div class="welcome-form">
        <div class="typo-heading">Nur noch einen Klick</div>
        <div class="typo-info">
          Öffne nun dein E-mail Postfach und bestätige deine E-mail Adresse.<br />
          Überprüfe auch deinen Spam Ordner.<br />
          Denk daran, nur, wenn du deine E-mail Adresse bestätigst, ist deine
          Registrierung auch erfolgreich abgeschlossen.
        </div>
      </div>
      <!-- <div class="block-cta">
        <nuxt-link to="/login">
          <button class="btn-cta">Back to Login</button>
        </nuxt-link>
      </div> -->
    </div>
  </div>
</template>

<script>
export default {
};
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  flex-direction: column;
}

.page-welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 56px 32px;
  flex: 1;
  font-family: $font-family-register;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;

  @media (max-width: 576px) {
    font-size: $font-size-lg;
  }
}

.welcome-form {
  width: 420px;
  margin: 0 auto;

  @media (max-width: 576px) {
    width: 100%;
  }
}

.typo-heading {
  margin-bottom: 16px;
  font-size: $font-size-xxxxl;
  font-weight: $font-weight-bolder;
  text-transform: uppercase;

  @media (max-width: 576px) {
    font-size: $font-size-xxl;
  }
}

.typo-info {
  font-size: $font-size-base;
  margin-bottom: 16px;

  @media (max-width: 576px) {
    font-size: $font-size-lg;
  }
}

.block-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  a {
    text-decoration: none;
  }
}
</style>
