<template>
  <div class="page-verify">
    <div class="typo-body">Hallo {{ name }},</div>
    <br />
    <div class="typo-body">vielen Dank für deine Anmeldung.</div>
    <br />
    <div class="typo-body">
      Bitte bestätige <b>einmalig</b> deine E-Mail Adresse mit einem
      <b>KLICK</b> auf den unterstehenden <b>BUTTON</b>.
    </div>
    <br />
    <a :href="verificationUrl" target="_blank">
      <button class="btn-cta">Registrierung bestätigen – klicke hier</button>
    </a>
    <br />
    <div class="typo-body">
      Im Anschluss erhältst du deinen persönlichen QR Code per E-Mail, den du
      bei deinem nächsten besuch mitbringen musst.
    </div>
    <br />
    <div class="typo-body">
      Da du sicherlich nicht alleine zu uns kommst, erinnere bitte deine Freunde
      daran, sich auch zu registrieren, um Wartezeiten zu vermeiden. Gerne
      kannst du ihnen diesen Link senden:
      <a href="https://nachtresidenz.app/registrierung" target="_blank"
        >https://nachtresidenz.app/registrierung</a
      >
    </div>
    <br />
    <div class="typo-body">
      Ich freue mich auf dich, liebe Grüße,<br />
      deine Lena von der Nachtresidenz
    </div>
    <br />
    <div class="typo-body">
      PS: Wir weisen darauf hin, dass dies keine Einlassgarantie ist.
    </div>
  </div>
</template>

<script>
export default {
  layout: "email",
  async asyncData({ $fire, params }) {
    const { verificationId = "" } = params;
    try {
      if (!verificationId) throw "Invalid verification ID.";

      const verifyDoc = await $fire.firestore
        .collection("emailVerifications")
        .doc(verificationId)
        .get();

      if (verifyDoc.exists) {
        const userId = verifyDoc.data().userId || "";
        const userDoc = await $fire.firestore
          .collection("users")
          .doc(userId)
          .get();

        if (userDoc.exists) {
          return {
            name: userDoc.data().firstname,
            verificationUrl: `${process.env.BASE_URL}/verify?verificationId=${verificationId}`,
            e: null,
          };
        } else {
          throw "User not found.";
        }
      } else {
        throw "Verification not found.";
      }
    } catch (e) {
      return {
        name: "#{name}",
        verificationUrl: "#",
        e,
      };
    }
  },
  head: {
    title: "Bitte bestätige deine E-Mail Adresse | Nachtresidenz",
  },
};
</script>

<style lang="scss" scoped>
.page-verify {
  display: flex;
  flex-direction: column;
}

a {
  margin-right: auto;
  text-decoration: none;
}

button {
  font-family: $font-family-register;
}

.btn-cta {
  margin-right: auto;
}
</style>
