<template>
  <div class="page-register">
    <div class="container">
      <div
        v-if="!resendConfirmationMail && !resendRegisterCode"
        class="form-container"
      >
        <div class="block-step">
          <div class="typo-heading">
            DEINE EINMALIGE REGISTRIERUNG
          </div>
          <div class="typo-info">
            Diese Registrierung ist kostenlos und Voraussetzung für deinen
            Besuch in der Nachtresidenz, sie ist nur einmalig und keine
            Einlassgarantie. Deine Mitgliedschaft ist jederzeit widerrufbar.
          </div>
        </div>

        <div class="card">
          <div class="input-row">
            <div class="input-col">
              <div
                :class="['block-input', { 'block-input-disabled': loading }]"
              >
                <div
                  :class="[
                    'input-inline-label',
                    invalidFields.includes('email') && 'input-error',
                  ]"
                >
                  <label>E-Mail-Adresse</label>
                  <input v-model.trim="email" @focus="removeInvalid('email')" />
                </div>
              </div>
            </div>
            <div class="input-col">
              <div
                :class="['block-input', { 'block-input-disabled': loading }]"
              >
                <div
                  :class="[
                    'input-inline-label',
                    invalidFields.includes('emailConfirm') && 'input-error',
                  ]"
                >
                  <label>E-Mail-Adresse wiederholen</label>
                  <input
                    v-model.trim="emailConfirm"
                    @focus="removeInvalid('emailConfirm')"
                  />
                </div>
              </div>
            </div>
            <div class="input-col">
              <div
                :class="['block-input', { 'block-input-disabled': loading }]"
              >
                <div
                  :class="[
                    'input-inline-label',
                    invalidFields.includes('firstname') && 'input-error',
                  ]"
                >
                  <label>Vorname</label>
                  <input
                    v-model.trim="firstname"
                    @focus="removeInvalid('firstname')"
                  />
                </div>
              </div>
            </div>
            <div class="input-col">
              <div
                :class="['block-input', { 'block-input-disabled': loading }]"
              >
                <div
                  :class="[
                    'input-inline-label',
                    invalidFields.includes('lastname') && 'input-error',
                  ]"
                >
                  <label>Nachname</label>
                  <input
                    v-model.trim="lastname"
                    @focus="removeInvalid('lastname')"
                  />
                </div>
              </div>
            </div>
            <div class="input-col">
              <div
                :class="['block-input', { 'block-input-disabled': loading }]"
              >
                <div
                  :class="[
                    'input-inline-label',
                    invalidFields.includes('birthdate') && 'input-error',
                  ]"
                >
                  <label>Geburtstag</label>
                  <client-only>
                    <dropdown-datepicker
                      year-label="JJJJ"
                      month-label="MM"
                      day-label="TT"
                      :min-year="1920"
                      :max-year="new Date().getFullYear()"
                      :month-long-values="[
                        'Januar',
                        'Februar',
                        'März',
                        'April',
                        'Mai',
                        'Juni',
                        'Juli',
                        'August',
                        'September',
                        'Oktober',
                        'November',
                        'Dezember',
                      ]"
                      :day-suffixes="false"
                      v-bind:on-change="onDateChanged"
                      @click.native="removeInvalid('birthdate')"
                    ></dropdown-datepicker>
                  </client-only>
                </div>
              </div>
            </div>
            <div class="input-col">
              <div
                :class="['block-input', { 'block-input-disabled': loading }]"
              >
                <div
                  :class="[
                    'input-inline-label',
                    invalidFields.includes('gender') && 'input-error',
                  ]"
                >
                  <label>Geschlecht</label>
                  <select v-model="gender" @change="removeInvalid('gender')">
                    <option v-for="item in genders" :key="item" :value="item">
                      {{ item }}
                    </option>
                  </select>
                </div>
              </div>
            </div>
            <div class="input-col">
              <div
                :class="['block-input', { 'block-input-disabled': loading }]"
              >
                <div
                  :class="[
                    'input-inline-label',
                    invalidFields.includes('phone') && 'input-error',
                  ]"
                >
                  <label>Telefonnummer</label>
                  <client-only>
                    <vue-tel-input
                      v-model="phone"
                      style-classes="custom-tel-input"
                      :dropdown-options="{
                        disabled: false,
                        showDialCodeInList: true,
                        showFlags: true,
                        showDialCodeInSelection: false,
                        showSearchBox: true,
                        tabindex: 0,
                      }"
                      :input-options="{
                        autocomplete: 'on',
                        autofocus: false,
                        maxlength: 25,
                        showDialCode: true,
                        readonly: false,
                        type: 'tel',
                      }"
                      @focus="removeInvalid('phone')"
                      @input="handlePhoneInput"
                      @country-changed="handlePhoneCountryChanged"
                      @validate="validatePhone"
                      @blur="validatePhone"
                    ></vue-tel-input>
                  </client-only>
                </div>
              </div>
            </div>
            <div class="input-col">
              <div
                :class="['block-input', { 'block-input-disabled': loading }]"
              >
                <div
                  class="block-checkbox"
                  @click="
                    privacyChecked = !privacyChecked;
                    removeInvalid('privacyChecked');
                  "
                >
                  <fa
                    :icon="
                      privacyChecked
                        ? ['fas', 'square-check']
                        : ['far', 'square']
                    "
                    :class="[
                      privacyChecked && 'checkbox-checked',
                      invalidFields.includes('privacyChecked') &&
                        'checkbox-error',
                    ]"
                  />
                  <label class="typo-info"
                    >Ich habe die
                    <a
                      href="https://www.nachtresidenz.de/datenschutz/"
                      target="_blank"
                      >Datenschutzbestimmungen</a
                    >
                    zur Kenntnis genommen und bin mit der Verarbeitung meiner
                    Daten sowie der Kontaktaufnahme im Zuge der Registrierung
                    einverstanden.</label
                  >
                </div>
                <div
                  class="block-checkbox"
                  @click="
                    agbChecked = !agbChecked;
                    removeInvalid('agbChecked');
                  "
                >
                  <fa
                    :icon="
                      agbChecked ? ['fas', 'square-check'] : ['far', 'square']
                    "
                    :class="[
                      agbChecked && 'checkbox-checked',
                      invalidFields.includes('agbChecked') && 'checkbox-error',
                    ]"
                  />
                  <label class="typo-info"
                    >Ich akzeptiere die
                    <a
                      href="https://www.nachtresidenz.de/member-agb/"
                      target="_blank"
                      >Allgemeinen Geschäftsbedingungen.</a
                    ></label
                  >
                </div>
              </div>
            </div>
          </div>
          <!-- Buttons -->
          <div class="block-cta">
            <button class="btn-cta btn-lg" :disabled="loading" @click="submit">
              <fa v-if="loading" :icon="['fal', 'spinner']" spin />
              <template v-else>
                <span>Ich bestätige</span>
                <fa :icon="['fal', 'chevron-right']" />
              </template>
            </button>
          </div>
          <div class="block-ps">
            <span>
              Solltest du Probleme mit deiner Registrierung haben, melde dich
              bei Lena via WhatsApp:
              <a href="https://wa.me/491733648661" target="_blank"
                >https://wa.me/491733648661</a
              >
            </span>
          </div>
        </div>
      </div>

      <!-- Resend Confirmation Mail -->
      <div v-if="resendConfirmationMail" class="form-container">
        <div class="block-step">
          <div class="typo-info">
            Diese E-mail Adresse existiert bereits.<br />
            Bestätige deine Anmeldung, um die Registrierung abzuschließen.<br />
            Falls du die Bestätigungs-E-mail nicht mehr hast, kannst du sie dir
            hier erneut zusenden.
          </div>
        </div>
        <div class="block-cta">
          <button
            class="btn-cta btn-lg"
            :disabled="sending"
            @click="sendConfirmationMail"
          >
            <fa v-if="sending" :icon="['fal', 'spinner']" spin />
            <template v-else>
              <span>Bestätigungs-E-Mail erneut senden</span>
            </template>
          </button>
        </div>
      </div>

      <!-- Resend Register Code -->
      <div v-if="resendRegisterCode" class="form-container">
        <div class="block-step">
          <div class="typo-info">
            Diese E-mail Adresse existiert bereits.<br />
            Zeige den Registrierungs-Code bei deinem nächsten Besuch in der
            Nachtresidenz vor.<br />
            Falls du den Code nicht mehr hast, kannst du ihn dir hier erneut
            zusenden.
          </div>
        </div>
        <div class="block-cta">
          <button
            class="btn-cta btn-lg"
            :disabled="sending"
            @click="sendRegisterCode"
          >
            <fa v-if="sending" :icon="['fal', 'spinner']" spin />
            <template v-else>
              <span>Registrierungs-Code erneut senden</span>
            </template>
          </button>
        </div>
      </div>
    </div>
    <div id="recaptcha-container"></div>
  </div>
</template>

<script>
import { customAlphabet } from "nanoid";
import DropdownDatepicker from "vue-dropdown-datepicker/src/dropdown-datepicker.vue";

const genders = {
  MALE: "Männlich",
  FEMALE: "Weiblich",
  DIVERSE: "Divers",
  UNKNOWN: "Keine Angaben",
};

const statusOptions = {
  PUBLISHED: "Published",
  UNPUBLISHED: "Unpublished",
};

export default {
  // middleware: "no-auth",
  components: {
    DropdownDatepicker,
  },
  data() {
    return {
      registrationId: "",
      loading: false,
      firstname: "",
      lastname: "",
      email: "",
      emailConfirm: "",
      phone: "",
      street: "",
      houseNumber: "",
      zip: "",
      city: "",
      birthdate: "",
      gender: "",
      agbChecked: false,
      privacyChecked: false,
      genders: [genders.MALE, genders.FEMALE, genders.DIVERSE, genders.UNKNOWN],
      invalidFields: [],
      errors: {
        "auth/email-already-exists": "Diese E-Mail Adresse existiert bereits.",
      },
      resendConfirmationMail: false,
      resendRegisterCode: false,
      sending: false,
      mailingContent: null,
      otpSendRequest: null,
      dialCode: "",
    };
  },
  async mounted() {
    try {
      localStorage.removeItem("nac_reg_phone");
      localStorage.removeItem("nac_reg_verificationId");
      await this.$fire.auth.signOut();

      await this.$recaptcha.init();

      // Append Cookiebot script
      (function(c, oo, k, ie, b, o, t) {
        var a = oo.scripts[0],
          d = oo.createElement(k);
        (d.src = "https://consent.cookiebot.com/uc.js"), (d.id = c);
        d.setAttribute("data-cbid", ie), d.setAttribute(o, t);
        d.async = !1;
        d.addEventListener("load", function() {
          var e = new CustomEvent("CookiebotLoaded", { bubbles: !0 });
          oo.dispatchEvent(e);
        });
        typeof CookiebotCallback_Loaded === "function" &&
          CookiebotCallback_Loaded();
        a.parentNode.insertBefore(d, a);
      })(
        "Cookiebot",
        document,
        "script",
        "f0fd4cef-bead-4a8a-855a-a2cefe195440",
        location,
        "data-blockingmode",
        "auto"
      );

      window.addEventListener("CookiebotLoaded", this.handleCookiebotLoaded);
      window.addEventListener(
        "CookiebotOnAccept",
        this.handleCookiebotAcceptance
      );
      window.addEventListener(
        "CookiebotOnDecline",
        this.handleCookiebotDecline
      );
    } catch (e) {
      console.error(e);
    }
  },
  async created() {
    let nextId = "99999";
    if (process.env.NODE_ENV === "production") {
      // Generate registration ID as a running number
      const registerCounterRef = this.$fire.firestore
        .collection("registerCounter")
        .doc("counter");
      nextId = await this.$fire.firestore.runTransaction(transaction => {
        return transaction.get(registerCounterRef).then(doc => {
          if (!doc.exists) {
            registerCounterRef.set({ count: 1 });
            return "1";
          } else {
            const newId = doc.data().count + 1;
            transaction.update(registerCounterRef, { count: newId });
            return `${newId}`;
          }
        });
      });
    }

    // Format to 5-digits string
    this.registrationId = nextId.padStart(5, "0");
  },
  async beforeDestroy() {
    window.recaptchaVerifier = undefined;
    this.$recaptcha.destroy();
    this.hideCookiebot();
    window.removeEventListener("CookiebotLoaded", this.handleCookiebotLoaded);
    window.removeEventListener(
      "CookiebotOnAccept",
      this.handleCookiebotAcceptance
    );
    window.removeEventListener(
      "CookiebotOnDecline",
      this.handleCookiebotDecline
    );
  },
  methods: {
    onDateChanged(day, month, year) {
      // To handle wierd default date of plugin
      if (year === null && month === "11" && day === "11") {
        this.birthdate = "";
        return;
      }
      if (!!day && !!month && !!year) {
        const today = this.$moment();
        const selected = this.$moment(`${year}-${month}-${day}`);
        const diff = today.diff(selected, "seconds");

        if (diff > 0) {
          this.birthdate = this.$moment(`${year}-${month}-${day}`).toDate();
        }
      } else {
        this.birthdate = "";
      }
    },
    generateOTP() {
      return String(Math.floor(100000 + Math.random() * 900000));
    },
    async submit() {
      if (this.loading) return;
      this.invalidFields = this.validateForm();
      const now = new Date();

      if (!this.invalidFields.length) {
        this.loading = true;
        this.$nuxt.$loading.start(
          "Bitte habe etwas Geduld dein Account wird erstellt und OTP Code wird in kürze gesendet."
        );

        // 0. Validate reCaptcha
        try {
          await this.validateRecaptcha("register");
        } catch (e) {
          alert(e);
          this.loading = false;
          return;
        }

        // 1. Check if email has already taken
        const email = this.email.toLowerCase();
        const firstname = this.firstname.trim();
        const lastname = this.lastname.trim();
        const street = this.street.trim();
        const city = this.city.trim();

        // Check if the guest hasn't confirm DOI or being a member/nightpass yet
        let user = null;
        let isNightpass = false;

        await this.$fire.firestore
          .collection("users")
          .where("email", "==", email)
          .get()
          .then(snapshots => {
            if (!snapshots.empty) {
              user = snapshots.docs[0];
            }
          });
        localStorage.setItem("nac_reg_email", email);

        if (user) {
          console.log("User already exist");
          const {
            memberId = "", // to know if the guest is a member
            nightpass = false, // to know if the guest is a nightpass
            verified = false, // to know if the guest has confirm DOI
            verificationId = "",
            registrationId = "",
            birthdate = "",
          } = user.data();

          // isNightpass = nightpass;

          // if (!verified) {
          //   // Case: Guest hasn't confirm DOI yet
          //   this.resendConfirmationMail = true;
          //   this.mailingContent = {
          //     name: firstname,
          //     to: email,
          //     verificationId,
          //   };
          //   this.loading = false;
          //   return;
          // } else if (!memberId && !nightpass) {
          //   // Case: Guest hasn't become member/nightpass yet
          //   this.resendRegisterCode = true;
          //   this.mailingContent = {
          //     name: firstname,
          //     to: email,
          //     registrationId,
          //   };
          //   this.loading = false;
          //   return;
          // }
          // if (memberId) return;

          if (verified) {
            // this.$router.push("/danke");
            this.$router.push(`/welcome-back?userId=${user.id}`);
            this.loading = false;
            return;
          } else if (birthdate && verificationId) {
            localStorage.setItem("nac_reg_verificationId", verificationId);
            const password = this.$moment(
              (birthdate || this.birthdate).seconds * 1000
            ).format("MMMMDDYYYY");
            try {
              // await this.sendOtp(email, password);
              await this.sendWhatsAppOtp(
                user.data().phone,
                user.data().otpCode
              );
            } catch (error) {
              console.log("Failed to send OTP", error);
              this.loading = false;
              return;
            }
            this.loading = false;
            this.$router.push("/otp");
            return;
          }
        }

        // 2. Create firebase account for the guest
        let userId = "";
        if (isNightpass) {
          userId = user.id;
        } else {
          userId = customAlphabet("1234567890", 12)();
        }
        const password = this.$moment(this.birthdate).format("MMMMDDYYYY");
        const response = await this.$axios
          .post(`/createUser`, {
            email,
            password,
            userId,
            role: "GUEST",
          })
          .then(() => {
            return { success: true };
          })
          .catch(error => {
            console.log("Error: Create user", error.response.data);
            return { error: error.response.data.code };
          });

        if (response.error) {
          this.invalidFields.push("email");
          this.loading = false;
          alert(this.errors["auth/email-already-exists"]);
          return;
        }

        // 3. Add guest to users collection with generated userId
        // 3.1 Check amount of the welcome sms broadcast
        const welcomeSms = await this.$fire.firestore
          .collection("welcome")
          .doc("sms1")
          .get();
        const followUpWelcomeSms = await this.$fire.firestore
          .collection("welcome")
          .doc("sms2")
          .get();

        const next30Mins = this.$moment()
          .tz("Europe/Berlin")
          .add(1, "minutes")
          .toDate();

        const next60Mins = this.$moment()
          .tz("Europe/Berlin")
          .add(60, "minutes")
          .toDate();

        const verificationId = customAlphabet("1234567890abcdef", 32)();
        localStorage.setItem("nac_reg_verificationId", verificationId);
        const data = {
          id: userId,
          firstname,
          lastname,
          email,
          phone: this.phone,
          otpCode: this.generateOTP(),
          gender: this.gender,
          birthdate: this.birthdate,
          street,
          houseNumber: this.houseNumber.trim(),
          city,
          postal: this.zip,
          vaccinationStatus: "",
          activ: false,
          event: [],
          inactiveCounts: 4,
          optOut: true,
          registrationId: this.registrationId,
          verified: false,
          verificationId,
          timestamp: this.$fireModule.firestore.FieldValue.serverTimestamp(),
          vipVisit: [],
          visit: [],
          welcomeListRemoved: false,
          nightpass: false,
          welcomeSmsSent: false,
          welcomeSmsProcessing: false,
          welcomeSmsPending: false,
          // welcomeSmsPending:
          //   welcomeSms.exists &&
          //   welcomeSms.data().status === statusOptions.PUBLISHED,
          welcomeSmsTimer: next30Mins,
          followUpWelcomeSmsSent: false,
          followUpWelcomeSmsProcessing: false,
          followUpWelcomeSmsPending: false,
          // followUpWelcomeSmsPending:
          //   followUpWelcomeSms.exists &&
          //   followUpWelcomeSms.data().status === statusOptions.PUBLISHED,
          followUpWelcomeSmsTimer: next60Mins,
          welcomeSmsCompleted: false,
          unverifiedDeleteTimestamp: new Date(now.getTime() + 5 * 60000),
          unverifiedDeleted: false,
        };

        await this.$fire.firestore
          .collection("users")
          .doc(userId)
          .set(data, { merge: true });
        console.log(`User added: ${userId}`);

        // 4. Send verification email
        await this.$fire.firestore
          .collection("emailVerifications")
          .doc(verificationId)
          .set({ userId });

        // await this.$axios.post(`/sendVerificationEmail`, {
        //   name: firstname,
        //   to: email,
        //   verificationId,
        // });

        // 5. Subscribe to Cleverreach
        if (!user) {
          try {
            await this.$axios.post(`/createCleverreachReceiver`, {
              groupId: "502818",
              receiver: {
                email,
                registered: this.$moment().unix(),
                activated: 0, // wait for DOI
                global_attributes: {
                  salutation: this.gender,
                  firstname,
                  lastname,
                  street,
                  zip: this.zip,
                  city,
                },
                attributes: {
                  birthdate: this.$moment(this.birthdate).format("YYYY/MM/DD"),
                },
              },
            });
          } catch (e) {
            console.log("Failed to create Cleverreach receiver.");
          }
        }

        try {
          //await this.sendOtp(email, password);
          await this.sendWhatsAppOtp(data.phone, data.otpCode);
        } catch (error) {
          console.log("Failed to send OTP", error);
          this.loading = false;
          return;
        }

        this.$nuxt.$loading.finish();
        this.loading = false;
        //console.log("Registration completed successfully!");

        //this.$router.push("/danke");
        this.$router.push("/otp");
      }
    },
    validateForm() {
      const invalid = [];
      if (!/^[\w-.]+@([\w-]+\.)+[\w-]{2,10}$/.test(this.email)) {
        invalid.push("email");
      }
      if (!/^[\w-.]+@([\w-]+\.)+[\w-]{2,10}$/.test(this.emailConfirm)) {
        invalid.push("emailConfirm");
      }
      if (this.emailConfirm !== this.email) {
        invalid.push("emailConfirm");
      }
      if (!this.firstname.trim()) {
        invalid.push("firstname");
      }
      if (!this.lastname.trim()) {
        invalid.push("lastname");
      }
      if (!this.birthdate) {
        invalid.push("birthdate");
      }
      if (!this.gender) {
        invalid.push("gender");
      }
      const regex = /^\+(?:[0-9] ?){6,14}[0-9]$/;
      if (!regex.test(this.phone)) {
        invalid.push("phone");
      }
      if (!this.agbChecked) {
        invalid.push("agbChecked");
      }
      if (!this.privacyChecked) {
        invalid.push("privacyChecked");
      }
      return invalid;
    },
    removeInvalid(value) {
      const index = this.invalidFields.findIndex(item => item === value);
      if (index > -1) {
        this.invalidFields.splice(index, 1);
      }
    },
    validatePhone() {
      this.phone = this.phone
        .trim()
        .split(" ")
        .join("");
    },
    async sendWhatsAppOtp(phone, otpCode) {
      try {
        await this.$axios.post(`/sendWhatsappOtpMessage`, {
          phone,
          otpCode,
          // phoneID: "102175366321024"
        });
      } catch (e) {
        console.log(e);
        return Promise.reject("send WA otp failed!");
      }
    },
    async sendOtp(email, password) {
      try {
        // Enable test mode for otp request
        // this.$fire.auth.settings.appVerificationDisabledForTesting = true;
        // var phoneNumber = "+16505554567";

        try {
          await this.$fire.auth.signInWithEmailAndPassword(email, password);
        } catch (error) {
          console.log("[sendOtp] Failed to sign-in", error);
          return Promise.reject("[sendOtp] Failed to sign-in");
        }

        var phoneNumber = this.phone;
        localStorage.setItem("nac_reg_phone", phoneNumber);

        if (!window.recaptchaVerifier) {
          window.recaptchaVerifier = new this.$fireModule.auth.RecaptchaVerifier(
            "recaptcha-container",
            {
              size: "invisible",
            }
          );
        }
        // window.confirmationResult =  await this.$fire.auth.signInWithPhoneNumber(
        //   phoneNumber,
        //   appVerifier
        // );

        const appVerifier = window.recaptchaVerifier;

        try {
          window.confirmationResult = await this.$fire.auth.currentUser.linkWithPhoneNumber(
            phoneNumber,
            appVerifier
          );
        } catch (error) {
          console.log("[sendOtp] Failed to link with phone number", error);
          return Promise.reject("[sendOtp] Failed to link with phone number");
        }
        //await this.$fire.auth.signOut();
        return Promise.resolve();
      } catch (e) {
        console.log("[sendOtp] Failed to send OTP for other reasons: ", e);
        return Promise.reject(e);
      }
    },
    async validateRecaptcha(action) {
      try {
        const token = await this.$recaptcha.execute(action);
        const response = await this.$axios.post(`/validateRecaptcha`, {
          token,
        });
        if (!response.data.success) {
          return Promise.reject("ReCaptcha validation failed!");
        }
        await this.$recaptcha.reset();
        return Promise.resolve();
      } catch (e) {
        console.log(e);
        return Promise.reject("ReCaptcha validation failed!");
      }
    },
    async sendConfirmationMail() {
      this.sending = true;

      try {
        await this.validateRecaptcha("resendConfirmationMail");
      } catch (e) {
        alert(e);
        this.sending = false;
        return;
      }

      await this.$axios.post(`/sendVerificationEmail`, {
        name: this.mailingContent.name,
        to: this.mailingContent.to,
        verificationId: this.mailingContent.verificationId,
      });

      this.sending = false;
      alert("Die Bestätigungs-E-mail wurde an dein Postfach gesendet.");
    },
    async sendRegisterCode() {
      this.sending = true;

      try {
        await this.validateRecaptcha("resendRegisterCode");
      } catch (e) {
        alert(e);
        this.sending = false;
        return;
      }

      await this.$axios.post(`/sendWelcomeEmail`, {
        name: this.mailingContent.name,
        to: this.mailingContent.to,
        registrationId: this.mailingContent.registrationId,
      });

      this.sending = false;
      alert("Der Registrierungs-Code wurde an dein Postfach gesendet.");
    },
    handleCookiebotLoaded() {
      const cookiebot = Cookiebot || window.Cookiebot;
      try {
        if (!cookiebot) throw "Cookiebot is undefined";

        const {
          consented,
          consent: { necessary, preferences, statistics, marketing },
        } = cookiebot;

        // if (!this.$fb.fbq.getState().pixels.length) {
        //   this.$fb.init();
        // }

        // if (consented && marketing) {
        //   this.$fb.enable();
        //   this.$fb.track();
        // } else {
        //   this.$fb.disable();
        // }
      } catch (e) {
        console.log(e);
      }
    },
    handleCookiebotAcceptance() {
      const cookiebot = Cookiebot || window.Cookiebot;
      try {
        if (!cookiebot) throw "Cookiebot is undefined";

        const {
          consented,
          consent: { necessary, preferences, statistics, marketing },
        } = cookiebot;

        // if (consented && marketing) {
        //   if (!this.$fb.fbq.getState().pixels.length) {
        //     this.$fb.init();
        //   }
        //   this.$fb.enable();

        //   this.$fb.track();
        // } else {
        //   this.$fb.disable();
        // }
      } catch (e) {
        console.log(e);
      }
    },
    handleCookiebotDecline() {
      const cookiebot = Cookiebot || window.Cookiebot;
      try {
        if (!cookiebot) throw "Cookiebot is undefined";

        const {
          consented,
          consent: { necessary, preferences, statistics, marketing },
        } = cookiebot;

        // if (!consented || (consented && !marketing)) {
        //   this.$fb.disable();
        // }
      } catch (e) {
        console.log(e);
      }
    },
    hideCookiebot() {
      const cookiebot = Cookiebot || window.Cookiebot;
      try {
        if (!cookiebot) throw "Cookiebot is undefined";
        cookiebot.hide();
      } catch (e) {
        console.log(e);
      }
    },
    handlePhoneInput(number, phoneObject) {
      if (number.length <= this.dialCode.length) {
        this.phone = this.dialCode;
      } else {
        this.phone = number;
      }
    },
    handlePhoneCountryChanged(countryObject) {
      const dialCode = countryObject.dialCode || "";
      this.dialCode = `+${dialCode}`;
    },
  },
  head: {
    title: "Registrierung | Nachtresidenz",
    meta: [
      {
        hid: "description",
        name: "description",
        content:
          "Registriere dich hier für deinen nächsten Besuch bei der Nachtresidenz. Wir freuen uns auf dich!",
      },
      {
        hid: "og:site_name",
        name: "og:site_name",
        content: "Registrierung bei Nachtresidenz",
      },
      {
        hid: "og:description",
        name: "og:description",
        content:
          "Registriere dich hier für deinen nächsten Besuch bei der Nachtresidenz. Wir freuen uns auf dich!",
      },
    ],
  },
};
</script>

<style lang="scss" scoped>
input,
button,
select {
  font-family: $font-family-register;
}

input {
  &::placeholder {
    font-family: $font-family-register;
  }
  &::-webkit-input-placeholder {
    font-family: $font-family-register;
  }
  &:-ms-input-placeholder {
    font-family: $font-family-register;
  }
  &:-moz-placeholder {
    font-family: $font-family-register;
  }
  &::-moz-placeholder {
    font-family: $font-family-register;
  }
}

.page-register {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 56px 32px;
  flex: 1;
  width: 100%;
  font-family: $font-family-register;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;

  @media (max-width: 576px) {
    font-size: $font-size-lg;
  }
}

.card {
  margin-top: 32px;
  padding: 40px 48px;
  background-color: $color-light;
  box-shadow: none;

  @media (max-width: 576px) {
    padding: 32px 20px;
  }
}

.typo-heading {
  margin-bottom: 16px;
  font-size: $font-size-xxxxl;
  font-weight: $font-weight-bolder;
  text-transform: uppercase;

  @media (max-width: 576px) {
    font-size: $font-size-xxl;
  }
}

.typo-info {
  font-size: $font-size-base;
  margin-bottom: 16px;

  @media (max-width: 576px) {
    font-size: $font-size-lg;
  }
}

.form-container {
  width: 50%;
  margin: 0 auto;

  @media (max-width: 576px) {
    width: 100%;
  }
}

.input-row {
  /* make row */
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-top: -8px;
  margin-bottom: -8px;
  margin-left: -8px;
  margin-right: -8px;
}

.input-col {
  /* make column */
  position: relative;
  min-height: 1px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;

  &.col-1\/4 {
    width: 25%;

    @media (max-width: 576px) {
      width: 100%;
    }
  }

  &.col-3\/4 {
    width: 75%;

    @media (max-width: 576px) {
      width: 100%;
    }
  }
}

.block-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.block-cta {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  @media (max-width: 576px) {
    width: 90%;
  }

  button {
    min-width: 160px;

    @media (max-width: 576px) {
      min-width: auto;
      font-size: $font-size-base;
    }
  }

  a {
    white-space: nowrap;
    text-decoration: underline;
  }
}

.block-ps {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  @media (max-width: 576px) {
    width: 90%;
  }

  a {
    white-space: nowrap;
    text-decoration: underline;
  }
}

.date-dropdowns {
  display: flex;

  ::v-deep select {
    margin-right: 20px;
  }
}
</style>
