<template>
  <div class="page-register">
    <div class="container">
      <div class="form-container">
        <!-- Progress bar -->
        <div v-if="step > 0" class="progress">
          <div class="typo-info">Deine Kontaktdaten {{ `0${step}` }} / 03</div>
          <div class="progress-bar">
            <div
              :class="[
                'progress-completed',
                {
                  'w-1/3': step === 1,
                  'w-2/3': step === 2,
                  'w-3/3': step === 3,
                },
              ]"
            ></div>
          </div>
        </div>

        <!-- Welcome -->
        <div v-if="step === 0" class="block-step">
          <div class="typo-heading">
            REGISTRIERUNG FÜR DEINEN NÄCHSTEN BESUCH IN DER NACHTRESIDENZ
          </div>
          <div class="typo-info">
            Bitte nimm dir kurz Zeit, um in nur 3 Schritten deine Registrierung
            abzuschließen.
          </div>
        </div>

        <!-- Step 1 -->
        <div v-else-if="step === 1" class="block-step">
          <div class="typo-heading">LOS GEHT’S: Schritt 1</div>
          <div class="typo-info">
            Fülle das untenstehende Formular wahrheitsgemäß aus, um deinen
            Account anzulegen. Andernfalls wird dir der Zutritt in die
            Nachtresidenz verwehrt.
          </div>
          <div class="card">
            <div class="input-row">
              <div class="input-col">
                <div class="block-input">
                  <div
                    :class="[
                      'input-inline-label',
                      invalidFields.includes('email') && 'input-error',
                    ]"
                  >
                    <label>E-Mail-Adresse</label>
                    <input v-model="email" @focus="removeInvalid('email')" />
                  </div>
                </div>
              </div>
              <!-- <div class="input-col">
                <div class="block-input">
                  <div
                    :class="[
                      'input-inline-label',
                      invalidFields.includes('password') && 'input-error',
                    ]"
                  >
                    <label>Passwort</label>
                    <input
                      type="password"
                      v-model="password"
                      @focus="removeInvalid('password')"
                    />
                  </div>
                  <small v-if="passwordDangerText" class="text-danger">{{
                    passwordDangerText
                  }}</small>
                </div>
              </div>
              <div class="input-col">
                <div class="block-input">
                  <div
                    :class="[
                      'input-inline-label',
                      invalidFields.includes('confirmPassword') &&
                        'input-error',
                    ]"
                  >
                    <label>Passwort bestätigen</label>
                    <input
                      type="password"
                      v-model="confirmPassword"
                      @focus="removeInvalid('confirmPassword')"
                    />
                  </div>
                  <small v-if="confirmPasswordDangerText" class="text-danger">{{
                    confirmPasswordDangerText
                  }}</small>
                </div>
              </div> -->
            </div>
          </div>
        </div>

        <!-- Step 2 -->
        <div v-else-if="step === 2" class="block-step">
          <div class="typo-heading">FAST GESCHAFFT: Schritt 2</div>
          <div class="typo-info">
            Fülle das untenstehende Formular wahrheitsgemäß aus, um deinen
            Account anzulegen. Andernfalls wird dir der Zutritt in die
            Nachtresidenz verwehrt.
          </div>
          <div class="card">
            <div class="input-row">
              <div class="input-col">
                <div class="block-input">
                  <div
                    :class="[
                      'input-inline-label',
                      invalidFields.includes('firstname') && 'input-error',
                    ]"
                  >
                    <label>Vorname</label>
                    <input
                      v-model="firstname"
                      @focus="removeInvalid('firstname')"
                    />
                  </div>
                </div>
              </div>
              <div class="input-col">
                <div class="block-input">
                  <div
                    :class="[
                      'input-inline-label',
                      invalidFields.includes('lastname') && 'input-error',
                    ]"
                  >
                    <label>Nachname</label>
                    <input
                      v-model="lastname"
                      @focus="removeInvalid('lastname')"
                    />
                  </div>
                </div>
              </div>
              <div class="input-col">
                <div class="block-input">
                  <div
                    :class="[
                      'input-inline-label',
                      invalidFields.includes('birthdate') && 'input-error',
                    ]"
                  >
                    <label>Geburtstag</label>
                    <datepicker
                      v-model="birthdate"
                      placeholder="TT/MM/JJJJ"
                      :disabledDates="{
                        from: new Date(),
                      }"
                      calendar-class="input-calendar"
                      @click.native="removeInvalid('birthdate')"
                    ></datepicker>
                  </div>
                </div>
              </div>
              <div class="input-col">
                <div class="block-input">
                  <div
                    :class="[
                      'input-inline-label',
                      invalidFields.includes('gender') && 'input-error',
                    ]"
                  >
                    <label>Geschlecht</label>
                    <select v-model="gender" @change="removeInvalid('gender')">
                      <option v-for="item in genders" :key="item" :value="item">
                        {{ item }}
                      </option>
                    </select>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Step 3 -->
        <div v-else-if="step === 3" class="block-step">
          <div class="typo-heading">FAST FERTIG: Schritt 3</div>
          <div class="typo-info">
            Fülle das untenstehende Formular wahrheitsgemäß aus, um deinen
            Account anzulegen. Andernfalls wird dir der Zutritt in die
            Nachtresidenz verwehrt.
          </div>
          <div class="card">
            <div class="input-row">
              <div class="input-col">
                <div class="block-input">
                  <div
                    :class="[
                      'input-inline-label',
                      invalidFields.includes('phone') && 'input-error',
                    ]"
                  >
                    <label>Telefonnummer</label>
                    <vue-tel-input
                      v-model="phone"
                      style-classes="custom-tel-input"
                      @focus="removeInvalid('phone')"
                      @validate="validatePhone"
                      @blur="validatePhone"
                    ></vue-tel-input>
                  </div>
                </div>
              </div>
              <!-- <div class="input-col col-3/4">
                <div class="block-input">
                  <div
                    :class="[
                      'input-inline-label',
                      invalidFields.includes('street') && 'input-error',
                    ]"
                  >
                    <label>Straße</label>
                    <input v-model="street" @focus="removeInvalid('street')" />
                  </div>
                </div>
              </div>
              <div class="input-col col-1/4">
                <div class="block-input">
                  <div
                    :class="[
                      'input-inline-label',
                      invalidFields.includes('houseNumber') && 'input-error',
                    ]"
                  >
                    <label>Hausnummer</label>
                    <input
                      v-model="houseNumber"
                      @focus="removeInvalid('houseNumber')"
                    />
                  </div>
                </div>
              </div>
              <div class="input-col col-1/4">
                <div class="block-input">
                  <div
                    :class="[
                      'input-inline-label',
                      invalidFields.includes('zip') && 'input-error',
                    ]"
                  >
                    <label>PLZ</label>
                    <input v-model="zip" @focus="removeInvalid('zip')" />
                  </div>
                </div>
              </div>
              <div class="input-col col-3/4">
                <div class="block-input">
                  <div
                    :class="[
                      'input-inline-label',
                      invalidFields.includes('city') && 'input-error',
                    ]"
                  >
                    <label>Ort</label>
                    <input v-model="city" @focus="removeInvalid('city')" />
                  </div>
                </div>
              </div> -->
              <div class="input-col">
                <div class="block-input">
                  <div
                    class="block-checkbox"
                    @click="
                      privacyChecked = !privacyChecked;
                      removeInvalid('privacyChecked');
                    "
                  >
                    <fa
                      :icon="
                        privacyChecked
                          ? ['fas', 'square-check']
                          : ['far', 'square']
                      "
                      :class="[
                        privacyChecked && 'checkbox-checked',
                        invalidFields.includes('privacyChecked') &&
                          'checkbox-error',
                      ]"
                    />
                    <label class="typo-info"
                      >Ich habe die
                      <a
                        href="https://www.nachtresidenz.de/datenschutz/"
                        target="_blank"
                        >Datenschutzbestimmungen</a
                      >
                      zur Kenntnis genommen und bin mit der Verarbeitung meiner
                      Daten zwecks Membercard Erstellung einverstanden.</label
                    >
                  </div>
                  <div
                    class="block-checkbox"
                    @click="
                      agbChecked = !agbChecked;
                      removeInvalid('agbChecked');
                    "
                  >
                    <fa
                      :icon="
                        agbChecked ? ['fas', 'square-check'] : ['far', 'square']
                      "
                      :class="[
                        agbChecked && 'checkbox-checked',
                        invalidFields.includes('agbChecked') &&
                          'checkbox-error',
                      ]"
                    />
                    <label class="typo-info"
                      >Ich akzeptiere die
                      <a href="#" target="_blank"
                        >Allgemeinen Geschäftsbedingungen.</a
                      ></label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!-- Buttons -->
        <div :class="['block-cta', { 'cta-vertical': step === 0 }]">
          <template v-if="step === 0">
            <button class="btn-cta btn-lg" @click="next(step)">
              <span>LOS</span>
              <fa :icon="['fal', 'chevron-right']" />
            </button>
            <nuxt-link to="/login" class="typo-info"
              >Du hast bereits eine Membercard?</nuxt-link
            >
          </template>
          <template v-else>
            <button
              class="btn-secondary btn-lg"
              :disabled="loading"
              @click="step--"
            >
              <fa :icon="['fal', 'chevron-left']" />
              <span>ZURÜCK</span>
            </button>
            <button
              class="btn-cta btn-lg"
              :disabled="loading"
              @click="next(step)"
            >
              <fa v-if="loading" :icon="['fal', 'spinner']" spin />
              <template v-else>
                <span>WEITER</span>
                <fa :icon="['fal', 'chevron-right']" />
              </template>
            </button>
          </template>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import { customAlphabet } from "nanoid";

const genders = {
  MALE: "Männlich",
  FEMALE: "Weiblich",
  DIVERSE: "Divers",
  UNKNOWN: "Keine Angaben",
};

export default {
  middleware: "no-auth",
  data() {
    return {
      step: 0,
      registrationId: "",
      loading: false,
      firstname: "",
      lastname: "",
      email: "",
      // password: "",
      // confirmPassword: "",
      // passwordDangerText: "",
      // confirmPasswordDangerText: "",
      phone: "",
      street: "",
      houseNumber: "",
      zip: "",
      city: "",
      birthdate: "",
      gender: "",
      agbChecked: false,
      privacyChecked: false,
      genders: [genders.MALE, genders.FEMALE, genders.DIVERSE, genders.UNKNOWN],
      invalidFields: [],
      errors: {
        "auth/email-already-exists": "Diese E-Mail Adresse existiert bereits.",
      },
    };
  },
  async created() {
    // Generate registration ID as a running number
    const registerCounterRef = this.$fire.firestore
      .collection("registerCounter")
      .doc("counter");
    const nextId = await this.$fire.firestore.runTransaction(transaction => {
      return transaction.get(registerCounterRef).then(doc => {
        if (!doc.exists) {
          registerCounterRef.set({ count: 1 });
          return "1";
        } else {
          const newId = doc.data().count + 1;
          transaction.update(registerCounterRef, { count: newId });
          return `${newId}`;
        }
      });
    });

    // Format to 5-digits string
    this.registrationId = nextId.padStart(5, "0");
  },
  methods: {
    next(current) {
      // Validate
      let invalid = [];
      if (current === 1) {
        invalid = this.validateStep(1);
      } else if (current === 2) {
        invalid = this.validateStep(2);
      } else if (current === 3) {
        invalid = this.validateStep(3);
      }
      this.invalidFields = [...new Set([...this.invalidFields, ...invalid])];

      if (invalid.length) return;

      const next = current + 1;
      if (next <= 3) {
        this.step = next;
      } else {
        this.submit();
      }
    },
    async submit() {
      this.invalidFields = this.validateForm();
      if (!this.invalidFields.length) {
        this.loading = true;

        // 1. Check if email has already taken
        const email = this.email.toLowerCase();
        const firstname = this.firstname.trim();
        const lastname = this.lastname.trim();
        const street = this.street.trim();
        const city = this.city.trim();

        let exists = false;
        await this.$fire.firestore
          .collection("users")
          .where("email", "==", email)
          .get()
          .then(snapshots => {
            exists = !snapshots.empty;
          });

        if (exists) {
          this.invalidFields.push("email");
          this.loading = false;
          alert(this.errors["auth/email-already-exists"]);
          return;
        }

        // 2. Create firebase account for the guest
        const userId = customAlphabet("1234567890", 12)();
        const password = this.$moment(this.birthdate).format("MMMMDDYYYY");
        const response = await this.$axios
          .post(`/createUser`, {
            email,
            password,
            userId,
            role: "GUEST",
          })
          .then(() => {
            return { success: true };
          })
          .catch(error => {
            console.log("Error: Create user", error.response.data);
            return { error: error.response.data.code };
          });

        if (response.error) {
          this.invalidFields.push("email");
          this.loading = false;
          alert(this.errors["auth/email-already-exists"]);
          return;
        }

        // 3. Add guest to users collection with generated userId
        const verificationId = customAlphabet("1234567890abcdef", 32)();
        const data = {
          id: userId,
          firstname,
          lastname,
          email,
          phone: this.phone,
          gender: this.gender,
          birthdate: this.birthdate,
          street,
          houseNumber: this.houseNumber.trim(),
          city,
          postal: this.zip,
          vaccinationStatus: "",
          activ: false,
          event: [],
          inactiveCounts: 4,
          optOut: true,
          registrationId: this.registrationId,
          verified: false,
          verificationId,
          timestamp: this.$fireModule.firestore.FieldValue.serverTimestamp(),
          vipVisit: [],
          visit: [],
          welcomeListRemoved: false,
        };

        await this.$fire.firestore
          .collection("users")
          .doc(userId)
          .set(data, { merge: true });
        console.log(`User added: ${userId}`);

        // 4. Send verification email
        await this.$fire.firestore
          .collection("emailVerifications")
          .doc(verificationId)
          .set({ userId });

        await this.$axios.post(`/sendVerificationEmail`, {
          name: firstname,
          to: email,
          verificationId,
        });

        // 5. Subscribe to Cleverreach
        await this.$axios.post(`/createCleverreachReceiver`, {
          groupId: "502818",
          receiver: {
            email,
            registered: userId,
            activated: userId,
            global_attributes: {
              firstname,
              lastname,
              street,
              zip: this.zip,
              city,
            },
          },
        });

        this.loading = false;
        console.log("Registration completed successfully!");

        this.$router.push("/danke");
      }
    },
    validateStep(step) {
      const invalid = [];
      if (step === 1) {
        // this.passwordDangerText = "";
        // this.confirmPasswordDangerText = "";
        if (!/^[\w-.]+@([\w-]+\.)+[\w-]{2,4}$/.test(this.email)) {
          invalid.push("email");
        }
        // if (!this.password) {
        //   invalid.push("password");
        // }
        // if (this.password.length < 6) {
        //   invalid.push("password");
        //   this.passwordDangerText =
        //     "Das Passwort muss mindestens 6 Zeichen lang sein.";
        // }
        // if (!this.confirmPassword || this.password != this.confirmPassword) {
        //   invalid.push("confirmPassword");
        //   if (this.password != this.confirmPassword) {
        //     this.confirmPasswordDangerText =
        //       "Die Passwörter stimmen nicht überein.";
        //   }
        // }
      } else if (step === 2) {
        if (!this.firstname.trim()) {
          invalid.push("firstname");
        }
        if (!this.lastname.trim()) {
          invalid.push("lastname");
        }
        if (!this.birthdate) {
          invalid.push("birthdate");
        }
        if (!this.gender) {
          invalid.push("gender");
        }
      } else if (step === 3) {
        if (
          !/^\s*(?:\+?(\d{1,3}))?[-. (]*(\d{3})[-. )]*(\d{3})[-. ]*(\d{4})(?: *x(\d+))?\s*$/.test(
            this.phone
          )
        ) {
          invalid.push("phone");
        }
        // if (!this.street.trim()) {
        //   invalid.push("street");
        // }
        // if (!this.houseNumber.trim()) {
        //   invalid.push("houseNumber");
        // }
        // if (!/^[0-9]{4,5}$/.test(this.zip)) {
        //   invalid.push("zip");
        // }
        // if (!this.city.trim()) {
        //   invalid.push("city");
        // }
        if (!this.agbChecked) {
          invalid.push("agbChecked");
        }
        if (!this.privacyChecked) {
          invalid.push("privacyChecked");
        }
      }
      return invalid;
    },
    validateForm() {
      const invalid1 = this.validateStep(1);
      const invalid2 = this.validateStep(2);
      const invalid3 = this.validateStep(3);
      const invalid = [...invalid1, ...invalid2, ...invalid3];
      return invalid;
    },
    removeInvalid(value) {
      // if (value === "password") {
      //   this.passwordDangerText = "";
      // } else if (value === "confirmPassword") {
      //   this.confirmPasswordDangerText = "";
      // }
      const index = this.invalidFields.findIndex(item => item === value);
      if (index > -1) {
        this.invalidFields.splice(index, 1);
      }
    },
    validatePhone() {
      this.phone = this.phone
        .trim()
        .split(" ")
        .join("");
    },
  },
  head: {
    title: "Member Registrierung | Nachtresidenz",
    meta: [
      {
        hid: "description",
        name: "description",
        content:
          "Registriere dich hier als Member der Nachtresidenz Düsseldorf und werde Teil unserer Community. Wir freuen uns auf dich!",
      },
    ],
  },
};
</script>

<style lang="scss" scoped>
input,
button,
select {
  font-family: $font-family-register;
}

input {
  &::placeholder {
    font-family: $font-family-register;
  }
  &::-webkit-input-placeholder {
    font-family: $font-family-register;
  }
  &:-ms-input-placeholder {
    font-family: $font-family-register;
  }
  &:-moz-placeholder {
    font-family: $font-family-register;
  }
  &::-moz-placeholder {
    font-family: $font-family-register;
  }
}

.page-register {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 56px 32px;
  flex: 1;
  font-family: $font-family-register;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;

  @media (max-width: 576px) {
    font-size: $font-size-lg;
  }
}

.card {
  margin-top: 32px;
  padding: 40px 48px;
  background-color: $color-light;
  box-shadow: none;

  @media (max-width: 576px) {
    padding: 32px 20px;
  }
}

.typo-heading {
  margin-bottom: 16px;
  font-size: $font-size-xxxxl;
  font-weight: $font-weight-bolder;
  text-transform: uppercase;

  @media (max-width: 576px) {
    font-size: $font-size-xxl;
  }
}

.typo-info {
  font-size: $font-size-base;
  margin-bottom: 16px;

  @media (max-width: 576px) {
    font-size: $font-size-lg;
  }
}

.form-container {
  width: 50%;
  margin: 0 auto;

  @media (max-width: 576px) {
    width: 100%;
  }
}

.input-row {
  /* make row */
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  margin-top: -8px;
  margin-bottom: -8px;
  margin-left: -8px;
  margin-right: -8px;
}

.input-col {
  /* make column */
  position: relative;
  min-height: 1px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 8px;
  padding-right: 8px;
  width: 100%;

  &.col-1\/4 {
    width: 25%;

    @media (max-width: 576px) {
      width: 100%;
    }
  }

  &.col-3\/4 {
    width: 75%;

    @media (max-width: 576px) {
      width: 100%;
    }
  }
}

.progress {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 40px;

  @media (max-width: 576px) {
    width: 100%;
    text-align: center;
  }

  .progress-bar {
    width: 100%;
    height: 4px;
    background-color: rgba(#555555, 0.2);
    margin-top: 8px;
    border-radius: 4px;

    .progress-completed {
      width: 0%;
      height: 100%;
      background-color: $color-dark;
      transition: $transition-all;

      &.w-1\/3 {
        width: 33%;
      }

      &.w-2\/3 {
        width: 66%;
      }

      &.w-3\/3 {
        width: 100%;
      }
    }
  }
}

.block-step {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.block-cta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  @media (max-width: 576px) {
    width: 90%;
  }

  &.cta-vertical {
    flex-direction: column;

    button {
      width: 60%;
    }

    a {
      margin-top: 32px;
    }
  }

  button {
    min-width: 160px;

    @media (max-width: 576px) {
      min-width: auto;
      font-size: $font-size-base;
    }
  }

  a {
    white-space: nowrap;
    text-decoration: underline;
  }
}
</style>
