<template>
  <div class="page-welcome">
    <div class="container">
      <div class="typo-heading">BESTÄTIGE DEINE HANDYNUMMER JETZT</div>
      <div class="typo-info">
        Gib hier den 6 stelligen Code ein, den wir dir via WhatsApp gesendet haben:
      </div>
      <div class="otp-box">
        <v-otp-input
          ref="otpInput"
          input-classes="otp-input"
          separator=""
          :num-inputs="6"
          :should-auto-focus="true"
          :is-input-num="true"
          @on-change="handleOnChange"
          @on-complete="handleOnComplete"
        />
      </div>
      <div v-if="errorMessage" class="otp-error error-message">
        {{ errorMessage }}
      </div>
      <button
        :disabled="resendTimer > 0"
        class="btn-cta btn-resend"
        @click="resendOTP"
      >
        <span>Resend Code {{ resendTimer || "" }}</span>
      </button>
      <div class="block-ps">
        <span>
          Solltest du Probleme mit deiner Registrierung haben, melde dich bei
          Lena über WhatsApp:
          <a href="https://wa.me/491733648661" target="_blank"
            >https://wa.me/491733648661</a
          >
        </span>
      </div>
    </div>
    <div id="recaptcha-container"></div>
  </div>
</template>

<script>
import OtpInput from "@bachdgvn/vue-otp-input";
export default {
  components: {
    "v-otp-input": OtpInput,
  },
  data() {
    return {
      errorMessage: "",
      resendTimer: 0,
    };
  },
  methods: {
    handleOnChange() {
      this.errorMessage = "";
    },
    async handleOnComplete(value) {
      try {
        // if (window.confirmationResult) {
        //   await window.confirmationResult.confirm(value);
        //   await this.$fire.auth.signOut().then(() => {
        //     localStorage.removeItem("nac_reg_phone");

        //     const verificationId = localStorage.getItem(
        //       "nac_reg_verificationId"
        //     );
        //     this.$router.push({
        //       path: "/danke",
        //       query: { verificationId: verificationId },
        //     });
        //   });
        // }
        const email = localStorage.getItem("nac_reg_email");
        await this.$fire.firestore
          .collection("users")
          .where("email", "==", email)
          .get()
          .then(snapshots => {
            if (!snapshots.empty) {
              const otp = snapshots.docs[0].data().otpCode;
              if(otp === value){
                localStorage.removeItem("nac_reg_email");
                const verificationId = localStorage.getItem(
                  "nac_reg_verificationId"
                );
                this.$router.push({
                  path: "/danke",
                  query: { verificationId: verificationId },
                });
              }else{
                this.errorMessage = "Invalid verification code";
              }
            }
          });
      } catch (error) {
        //this.$refs.otpInput.clearInput();
        console.log(error);
        // if (
        //   error.code == "auth/credential-already-in-use" ||
        //   error.code == "auth/code-expired"
        // ) {
        //   this.errorMessage = error.message;
        // } else {
        //   this.errorMessage = "Invalid verification code";
        // }

        // return error;
      }
    },
    generateOTP() {
      return String(Math.floor(100000 + Math.random() * 900000));
    },
    async resendOTP() {
      try {
        this.resendTimer = 60;
        this.$refs.otpInput.clearInput();
        const intv = setInterval(() => {
          this.resendTimer = this.resendTimer - 1;
          if (this.resendTimer === 0) {
            clearInterval(intv);
          }
        }, 1000);
        const email = localStorage.getItem("nac_reg_email");
        const otpCode = this.generateOTP();
        const snapshots = await this.$fire.firestore
          .collection("users")
          .where("email", "==", email)
          .get()

        if (snapshots.size > 0) {
          const doc = snapshots.docs[0];
          doc.ref.update({ otpCode });
          const phone = doc.data().phone;
          await this.$axios.post(`/sendWhatsappOtpMessage`, {
            phone,
            otpCode,
            phoneID: "102175366321024"
          });
        }
        
        // if (!window.recaptchaVerifier) {
        //   window.recaptchaVerifier = new this.$fireModule.auth.RecaptchaVerifier(
        //     "recaptcha-container",
        //     {
        //       size: "invisible",
        //     }
        //   );
        // }
        // const appVerifier = window.recaptchaVerifier;
        // // window.confirmationResult =  await this.$fire.auth.signInWithPhoneNumber(
        // //   phoneNumber,
        // //   appVerifier
        // // );
        // window.confirmationResult = await this.$fire.auth.currentUser.linkWithPhoneNumber(
        //   phoneNumber,
        //   appVerifier
        // );
      } catch (error) {
        console.log("Failed to resend OTP", error);
      }
    },
  },
  async beforeDestroy() {
    window.recaptchaVerifier = undefined;
  },
};
</script>

<style lang="scss" scoped>
.container {
  display: flex;
  flex-direction: column;
}

.otp-box {
  margin-top: 50px;
}

.error-message {
  margin-top: 30px;
  color: red;
}

.btn-resend {
  margin-top: 40px;
}

.page-welcome {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 56px 32px;
  flex: 1;
  font-family: $font-family-register;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;

  @media (max-width: 576px) {
    font-size: $font-size-lg;
  }
}

.welcome-form {
  width: 420px;
  margin: 0 auto;

  @media (max-width: 576px) {
    width: 100%;
  }
}

.typo-heading {
  margin-bottom: 16px;
  font-size: $font-size-xxxxl;
  font-weight: $font-weight-bolder;
  text-transform: uppercase;

  @media (max-width: 576px) {
    font-size: $font-size-xxl;
  }
}

::v-deep .otp-input {
  width: 40px;
  height: 40px;
  padding: 5px;
  margin: 0 10px;
  font-size: 20px;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;
  &.error {
    border: 1px solid red !important;
  }
}

.block-ps {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  @media (max-width: 576px) {
    width: 90%;
  }

  a {
    white-space: nowrap;
    text-decoration: underline;
  }
}
</style>
