<template>
  <div class="page-verify">
    <div class="container">
      <div class="verify-form">
        <div class="typo-heading">STOPP</div>
        <div class="typo-info">
          Ich sehe grade, dass du bereits bei uns Member bist! Ich sende dir in
          diesem Moment eine Nachricht bei <b>WhatsApp</b> inkl. deiner
          Membercard.
        </div>
        <div class="typo-info">
          <b>Öffne jetzt dein WhatsApp um deine Membercard abzurufen.</b>
        </div>
        <div class="typo-info">
          Ich freue mich auf deinen nächsten Besuch bei uns, <br />
          deine Lena von der Nachtresidenz
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  async mounted() {
    try {
      this.$nextTick(() => {
        this.$nuxt.$loading.start();
      });

      const { userId = "" } = this.$route.query;
      const userDoc = await this.$fire.firestore
        .collection("users")
        .doc(userId)
        .get();
      if (userDoc.exists) {
        const doubleOptIn = userDoc.data().doubleOptIn;
        if (doubleOptIn) {
          await this.$axios.post(`/sendWhatsappMemberCard`, { userId });
        } else {
          await this.$axios.post(`/sendWhatsappDoubleOptInMessage`, { userId });
        }
      }
    } catch (e) {
      alert(e);
    } finally {
      this.$nuxt.$loading.finish();
    }
  },
};
</script>

<style lang="scss" scoped>
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

button {
  font-family: "PT Sans", sans-serif;
}

.container {
  flex-direction: column;
}

.page-verify {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 56px 32px;
  flex: 1;
  font-family: "PT Sans", sans-serif;
  font-size: 14px;
  font-weight: 400;

  @media (max-width: 576px) {
    font-size: 16px;
  }
}

.verify-form {
  width: 500px;
  margin: 0 auto;

  @media (max-width: 576px) {
    width: 100%;
  }
}

.typo-heading {
  margin-bottom: 16px;
  font-size: 36px;
  font-weight: 700;
  line-height: 1;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.typo-info {
  font-size: 16px;
  margin-bottom: 16px;

  @media (max-width: 576px) {
    font-size: 16px;
  }
}

.block-cta {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;

  a {
    text-decoration: none;
    width: 60%;
  }

  button {
    width: 100%;
  }
}

.block-ps {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 80%;

  @media (max-width: 576px) {
    width: 90%;
  }

  a {
    white-space: nowrap;
    text-decoration: underline;
  }
}
</style>
