<template>
  <div class="sidenav-container">
    <div v-if="show" class="sidenav-backdrop" @click="$emit('close')"></div>
    <transition name="slide-side">
      <div v-if="show" class="sidenav">
        <ul class="nav-list" @click="$emit('close')">
          <li class="nav-item"><nuxt-link to="/membercard">Membercard</nuxt-link></li>
          <li class="nav-item">
            <nuxt-link to="/mein-profil">Mein Profil</nuxt-link>
          </li>
          <li class="nav-item" @click="logout">Logout</li>
        </ul>
      </div>
    </transition>
  </div>
</template>

<script>
export default {
  props: {
    show: {
      type: Boolean,
      default: false,
    },
  },
  methods: {
    logout() {
      return this.$fire.auth.signOut().then(() => {
        console.log("logged out");
        this.$router.push("/login");
      });
    },
  },
};
</script>


<style lang="scss" scoped>
.sidenav-container {
  height: 100%;
  width: 100%;
}

.sidenav-backdrop {
  width: 100%;
  height: 100%;
  background-color: rgba(#555555, 0.7);
  z-index: 1000;
  position: fixed;
  top: 0;
  left: 0;
}

.sidenav {
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;
  padding: 30px;
  width: 300px;
  height: 100%;
  background-color: white;
}

.slide-side-enter-active,
.slide-side-leave-active {
  transition: $transition-all;
}

.slide-side-enter,
.slide-side-leave-to {
  transform: translateX(-100%);
}

.nav-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav-item {
  margin: 20px 0;
}

.nav-item {
  color: $color-dark;
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-item a {
  text-decoration: none;
}

.nav-item:hover,
.nav-item:active {
  opacity: 0.7;
}
</style>