<template>
  <div class="app-header">
    <header>
      <sidenav-toggle v-if="isLoggedIn && !hiddenRoutes" @toggle="$emit('sidenavToggle')" />
      <a href="/" class="logo">
        <img src="Nachtresidenz_Logo_weiss.png" alt="app_logo" />
      </a>
    </header>
  </div>
</template>

<script>
import SidenavToggle from "@/components/sidenav-toggle";

export default {
  components: {
    SidenavToggle,
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    },
    hiddenRoutes() {
      return [
        "registrierung",
        "otp",
        "danke"
      ].includes(this.$route.name)
    }
  },
};
</script>


<style lang="scss" scoped>
.app-header {
  position: fixed;
  z-index: 100;
  width: 100%;
  height: $header-height;
  background-color: $color-black;
  padding: $header-spacing;
}

header {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.logo {
  display: flex;
  margin: 0 auto;
  height: 100%;

  // @media (max-width: 576px) {
  //   height: 100%;
  // }
}

.logo img {
  height: 100%;
}

.navigation-items {
  display: block;
}
</style>