<template>
  <footer class="app-footer">
    <div class="container">
      <div class="footer-item">
        <a href="https://www.nachtresidenz.de/datenschutz/" target="_blank">
          Datenschutz
        </a>
      </div>
      <div class="divider">|</div>
      <div class="footer-item">
        <a href="https://www.nachtresidenz.de/impressum/" target="_blank">
          Impressum
        </a>
      </div>
      <div class="divider">|</div>
      <div class="footer-item">
        <a href="https://www.nachtresidenz.de/member-agb/" target="_blank">
          AGB
        </a>
      </div>
    </div>
  </footer>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.app-footer {
  display: flex;
  align-items: center;
  padding: $footer-spacing;
  height: $footer-height;
}

.container {
  justify-content: space-around;
}

.footer-item {
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
  font-weight: $font-weight-bold;
  color: $color-black;
}
</style>