<template>
  <div class="email-header">
    <header>
      <img src="/email_header_alt.png" />
    </header>
  </div>
</template>

<script>
export default {};
</script>


<style lang="scss" scoped>
.email-header {
  width: 100%;
  background-color: #fff;
  color: #202020;
}

header {
  img {
    width: 100%;
  }
}
</style>