<template>
  <div class="email-footer">
    <footer>
      <div class="footer-bg-top">
        <img src="/email_footer_top.png" />
      </div>
      <div class="content-middle">
        <div class="footer-bg-left">
          <img src="/email_footer_left.png" />
        </div>
        <div class="content-inner">
          <div class="footer-header">CONTACT</div>
          <div class="footer-row">
            <div class="footer-col">
              <div class="block-info">
                Du willst einen Tisch reservieren?
                <a href="tel:01636688602" target="_blank">0163 66 88 602</a>
              </div>
              <div class="block-info">
                Du hast Fragen?
                <a href="mailto:registrierung@nachtresidenz.de" target="_blank"
                  >registrierung@nachtresidenz.de</a
                >
              </div>
            </div>
            <div class="footer-col">
              <div class="block-info">
                DE Gastrobetriebs GmbH<br />
                Bahnstraße 13-15<br />
                40212 Düsseldorf
              </div>
              <div class="block-info">
                AMTSGERICHT DÜSSELDORF<br />
                HRB 73318<br />
                STEUERNUMMER: 133/5814/2282<br />
                GESCHÄFTSFÜHRER: MARCEL OELBRACHT
              </div>
            </div>
          </div>
        </div>
        <div class="footer-bg-right">
          <img src="/email_footer_right.png" />
        </div>
      </div>
      <div class="footer-bg-bottom">
        <img src="/email_footer_bottom.png" />
      </div>
    </footer>
  </div>
</template>

<script>
export default {};
</script>


<style lang="scss" scoped>
.email-footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 14px;
  line-height: 19px;
  color: #fff;
  background-color: #202020;
}

footer {
  display: flex;
  flex-direction: column;
}

a {
  font-weight: bold;
  color: #fff;
}

img {
  width: 100%;
}

.content-middle {
  display: flex;
}

.content-inner {
  flex: 1;
}

.footer-bg-top {
  img {
    transform: translateY(5px);
  }
}

.footer-bg-bottom {
  img {
    transform: translateY(-5px);
  }
}

.footer-bg-left,
.footer-bg-right {
  flex-shrink: 0;
  width: 51px;

  img {
    height: 100%;
  }
}

.footer-header {
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-row {
  display: flex;
}

.footer-col {
  display: flex;
  flex-direction: column;

  &:first-child {
    width: 45%;
  }

  &:last-child {
    padding-left: 20px;
    width: 55%;
  }
}

.block-info {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;

  a {
    margin-right: auto;
  }
}
</style>