<template>
  <div class="install-prompt">
    <div class="card">
      <div v-if="ios" class="prompt-content">
        Install this webapp on your phone: tap
        <div class="btn-share">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 50 50">
            <path
              d="M30.3 13.7L25 8.4l-5.3 5.3-1.4-1.4L25 5.6l6.7 6.7z"
              fill="#0075ff"
            />
            <path d="M24 7h2v21h-2z" fill="#0075ff" />
            <path
              d="M35 40H15c-1.7 0-3-1.3-3-3V19c0-1.7 1.3-3 3-3h7v2h-7c-.6 0-1 .4-1 1v18c0 .6.4 1 1 1h20c.6 0 1-.4 1-1V19c0-.6-.4-1-1-1h-7v-2h7c1.7 0 3 1.3 3 3v18c0 1.7-1.3 3-3 3z"
              fill="#0075ff"
            />
          </svg>
        </div>
        and then Add to Home Screen.
      </div>
      <div v-else class="prompt-content">
        Füge die App zu deinem Startbildschirm hinzu.
      </div>
      <div class="prompt-buttons">
        <button class="btn-secondary" @click="$emit('prompt-dismissed')">
          Abbrechen
        </button>
        <button v-if="!ios" class="btn-cta" @click="$emit('prompt-confirmed')">
          Hinzufügen
        </button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    ios: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss" scoped>
.install-prompt {
  position: fixed;
  z-index: 100;
  left: $page-spacing;
  bottom: $page-spacing;
  width: calc(100% - (2 * #{$page-spacing}));
  background-color: $color-light;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 16px;
}

.prompt-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.prompt-buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;

  button:not(:last-child) {
    margin-right: 8px;
  }
}

.btn-share {
  width: 28px;
  height: 28px;
}
</style>