<template>
  <div v-if="loading" class="loading-page">
    <div class="loading"></div>
    <div class="loading-text" v-if="loadingText">{{ loadingText }}</div>
  </div>
</template>

<script>
export default {
  data: () => ({
    loading: false,
    loadingText: "",
  }),
  methods: {
    start(text = "") {
      this.loadingText = text;
      this.loading = true;
    },
    finish() {
      this.loading = false;
    },
  },
};
</script>

<style lang="scss" scoped>
.loading-page {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background-color: rgba($color-light, 0.5);
  padding: 1rem;
  text-align: center;
  font-size: 3rem;
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.loading {
  display: inline-block;
  width: 3rem;
  height: 3rem;
  border: 4px solid $color-black;
  border-radius: 50%;
  border-top-color: rgba($color-black, 0.3);
  animation: spin 1s ease-in-out infinite;
}

.loading-text {
  font-size: 20px;
  margin-top: 12px;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
</style>
