<template>
  <div class="member-card-google">
    <div class="card-content">
      <div class="block-card">
        <div class="outer-frame">
          <div class="outer-frame-mask"></div>
        </div>
        <div class="inner-frame">
          <div class="inner-frame-mask"></div>
        </div>
        <div class="card-body">
          <div class="card-header">
            <div class="block-logo">
              <img src="icon2.png" />
            </div>
            Member
          </div>
          <div class="card-barcode">
            <div class="card-name">{{ content.accountName }}</div>
            <div class="block-barcode">
              <barcode
                :value="content.barcode.value"
                :format="content.barcode.type"
                :display-value="false"
                :height="180"
                background="transparent"
              />
            </div>
            <!-- {{ content.barcode.value }} -->
          </div>
        </div>
      </div>
      <div class="card-details">
        <div class="details-header">DETAILS</div>
        <div class="block-info">
          <label>Name</label>
          {{ content.accountName }}
        </div>
        <div class="block-info">
          <label>E-Mail-Adresse</label>
          {{ content.accountId }}
        </div>
        <div class="block-info">
          <label>Geburtstag</label>
          {{
            content.birthdate
              ? $moment(content.birthdate).format("MMMM Do YYYY")
              : "-"
          }}
        </div>
        <div class="block-info">
          <label>Gültig bis</label>
          {{
            content.expiresAt
              ? $moment(content.expiresAt).format("MMMM Do YYYY")
              : "-"
          }}
        </div>
        <div class="block-info">
          <label>Member ID</label>
          {{ content.memberId }}
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueBarcode from "vue-barcode";

export default {
  components: {
    barcode: VueBarcode,
  },
  props: {
    content: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  data() {
    return {};
  },
  computed: {
    // memberId() {
    //   const textModule = this.content.textModulesData.find(
    //     ({ id }) => id === "text_member_id"
    //   );
    //   return textModule ? textModule.body : "######";
    // },
    // birthdate() {
    //   const textModule = this.content.textModulesData.find(
    //     ({ id }) => id === "text_birthdate"
    //   );
    //   return textModule ? textModule.body : "######";
    // },
    // expiresAt() {
    //   const textModule = this.content.textModulesData.find(
    //     ({ id }) => id === "text_valid_until"
    //   );
    //   return textModule ? textModule.body : "######";
    // },
  },
};
</script>

<style lang="scss" scoped>
$z-index-bg: 1;
$z-index-content: 99;

$frame-width: 3px;
$outer-frame-spacing: 20px;
$inner-frame-spacing: $frame-width + $outer-frame-spacing + 12px;

@mixin make-frame($bg-color, $curve-color, $spacing, $size: "normal") {
  $curve-radius: 48px;
  $curve-position-offset: 15px;

  @if $size == "small" {
    $curve-radius: 56px;
    $curve-position-offset: 25px;
  }

  $curve-mask-radius: $curve-radius + 1;

  position: absolute;
  z-index: $z-index-bg;
  top: $spacing;
  left: $spacing;
  width: calc(100% - (2 * #{$spacing}));
  height: calc(100% - (2 * #{$spacing}));
  background: $bg-color; /* fallback */
  background: linear-gradient(135deg, transparent 10px, $bg-color 0) top left,
    linear-gradient(225deg, transparent 10px, $bg-color 0) top right,
    linear-gradient(315deg, transparent 10px, $bg-color 0) bottom right,
    linear-gradient(45deg, transparent 10px, $bg-color 0) bottom left;
  background-image: radial-gradient(
      circle at -#{$curve-position-offset} -#{$curve-position-offset},
      $curve-color $curve-radius,
      $bg-color $curve-mask-radius
    ),
    radial-gradient(
      circle at calc(100% + #{$curve-position-offset}) -#{$curve-position-offset},
      $curve-color $curve-radius,
      $bg-color $curve-mask-radius
    ),
    radial-gradient(
      circle at calc(100% + #{$curve-position-offset})
        calc(100% + #{$curve-position-offset}),
      $curve-color $curve-radius,
      $bg-color $curve-mask-radius
    ),
    radial-gradient(
      circle at -#{$curve-position-offset}
        calc(100% + #{$curve-position-offset}),
      $curve-color $curve-radius,
      $bg-color $curve-mask-radius
    );
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.outer-frame {
  @media (min-width: 577px) {
    @include make-frame($color-light, transparent, $outer-frame-spacing);
  }

  @media (max-width: 576px) {
    @include make-frame(
      $color-light,
      transparent,
      $outer-frame-spacing,
      "small"
    );
  }
}

.outer-frame-mask {
  @media (min-width: 577px) {
    @include make-frame($color-dark, transparent, $frame-width);
  }

  @media (max-width: 576px) {
    @include make-frame($color-dark, transparent, $frame-width, "small");
  }
}

.inner-frame {
  @media (min-width: 577px) {
    @include make-frame($color-light, transparent, $inner-frame-spacing);
  }

  @media (max-width: 576px) {
    @include make-frame(
      $color-light,
      transparent,
      $inner-frame-spacing - 4px,
      "small"
    );
  }
}

.inner-frame-mask {
  @media (min-width: 577px) {
    @include make-frame($color-dark, transparent, $frame-width);
  }

  @media (max-width: 576px) {
    @include make-frame($color-dark, transparent, $frame-width, "small");
  }
}

.member-card-google {
  display: flex;
  width: 100%;

  @media (min-width: 577px) {
    margin: 0 auto;
    max-width: 375px;
    box-shadow: 0px 4px 25px 0px rgb(0 0 0 / 10%);
  }
}

.card-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.block-card {
  position: relative;
  color: $color-light;
  background-color: $color-dark;
}

.card-body {
  position: relative;
  z-index: $z-index-content;
  padding: 56px 64px;

  @media (max-width: 767px) {
    padding: 50px 56px;
  }
}

.card-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-weight: $font-weight-bold;
}

.block-logo {
  display: flex;
  margin-right: 20px;
  width: 32px;
  height: 32px;
  background-color: $color-light;
  border-radius: 50%;

  img {
    width: 100%;
  }
}

.card-barcode {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.card-name {
  margin-bottom: 20px;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
}

.block-barcode {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;
  padding: 12px;
  width: 100%;
  background-color: $color-light;
  border-radius: 4px;

  div {
    display: flex;
    align-items: center;
    height: 100px;
    overflow: hidden;

    ::v-deep .vue-barcode-element {
      width: 100%;
    }
  }
}

.card-details {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 40px 40px 0;
}

.details-header {
  margin-bottom: 20px;
  font-size: $font-size-sm;
  font-weight: $font-weight-bold;
  color: $color-black;
}

.block-info {
  display: flex;
  margin-bottom: 32px;
  flex-direction: column;
  color: #555555;

  label {
    margin-bottom: 8px;
    font-weight: $font-weight-bold;
    color: $color-black;
  }
}
</style>