<template>
  <div class="mode-normal">
    <div class="member-card-ratio">
      <div class="member-card-bg">
        <img src="/RAHMEN-RESI-LOOK-WHITE.png" @load="frontReady = true" />
      </div>
      <div class="member-card">
        <div class="card-content">
          <div class="card-front">
            <div class="block-logo">
              <img src="/Logo-claim-white.png" alt="card_logo" />
            </div>
            <div class="typo-heading">MEMBER</div>
          </div>
        </div>
      </div>
    </div>
    <!-- vue-html2pdf -->
    <div class="html2pdf__page-break" />
    <div class="member-card-ratio">
      <div class="member-card-bg">
        <img src="/RAHMEN-RESI-LOOK-WHITE.png" @load="backReady = true" />
      </div>
      <div class="member-card">
        <div class="card-content">
          <div>
            <div class="block-barcode">
              <div class="block-barcode-wrapper">
                <qrcode
                  :value="content.memberId"
                  :margin="0"
                  :color="{ dark: '#000000ff', light: '#ffffffff' }"
                  :width="90"
                />
              </div>
            </div>
            <!-- <div class="block-sign"></div> -->
            <div class="typo-body">
              Die Nachtresidenz bleibt Eigentümer der Karte. Es gelten die
              AGB<br />
              der Nachtresidenz. Der Besitz dieser Karte ist keine
              Einlassgarantie.<br />Diese Karte ist nach Erwerb ein Jahr gültig.
            </div>
            <div class="card-footer"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueQrcode from "vue-qrcode";

export default {
  components: {
    qrcode: VueQrcode,
  },
  props: {
    content: {
      type: Object,
      default() {
        return {
          id: "#######",
          name: "#######",
          email: "#######",
          expiresAt: null,
          birthdate: null,
          memberId: "#######",
        };
      },
    },
  },
  data() {
    return {
      frontReady: false,
      backReady: false,
    };
  },
  computed: {
    cardReady() {
      if (this.frontReady && this.backReady) {
        this.$emit("member-card-ready");
      }
    },
  },
};
</script>

<style>
@font-face {
  font-family: "Helvetica";
  src: url("~assets/fonts/Helvetica-Neue-Condensed.ttf") format("truetype");
  font-style: normal;
}
</style>
<style lang="scss" scoped>
.member-card-ratio {
  position: relative;
  padding-top: 63.094%; // to keep the ratio of 336 * 212
}

.mode-normal {
  .member-card {
    color: #ffffff;
  }

  .member-card-bg {
    background-color: #000000;
  }

  .block-sign {
    background-color: #ffffff;
  }

  .block-barcode {
    div {
      background-color: #ffffff;
    }
  }
}

.member-card {
  font-family: "Helvetica";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 52px 49px 42px;
  width: 100%;
  height: 100%;
}

.member-card-bg {
  position: absolute;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  img {
    width: 100%;
  }
}

.typo-heading {
  font-family: "Helvetica";
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: -0.1px;
  text-transform: uppercase;
  position: relative;
  top: -55px;
}
.typo-heading-name {
  top: 0;
}

.typo-body {
  font-family: "Helvetica";
  font-size: 8.5px;
  font-weight: 400;
  letter-spacing: -0.1px;
  word-spacing: 0;
}

.card-content {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.card-front {
  padding-top: 15%;
  padding-bottom: 15%;
}

.block-logo {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  overflow: hidden;

  img {
    width: 150%;
  }
}

.block-sign {
  padding: 6% 0;
  margin-top: 5%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

.card-footer {
  display: flex;
  flex-direction: column;
  margin-top: 2%;
}

.block-barcode {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 8%;

  div {
    display: flex;
    align-items: center;
    margin: 0 auto;
    padding: 4px;
    width: auto;

    ::v-deep .vue-barcode-element {
      width: 100%;
      height: auto;
    }
  }
}

.block-expires {
  margin-top: 1%;
  font-family: "Helvetica";
  letter-spacing: -0.1px;
}
</style>