<template>
  <div class="member-card" @click="flipped = !flipped">
    <div class="outer-frame">
      <div class="outer-frame-mask"></div>
    </div>
    <div class="inner-frame">
      <div class="inner-frame-mask"></div>
    </div>
    <div class="card-content">
      <div v-show="!flipped" class="card-front">
        <div class="block-logo">
          <img src="logo_alt.png" alt="card_logo" />
        </div>
        <div class="typo-heading">MEMBER</div>
      </div>
      <div v-show="flipped">
        <div class="typo-heading">{{ content.accountName }}</div>
        <div class="typo-heading">MEMBER {{ memberId }}</div>
        <div class="block-sign"></div>
        <div class="typo-body">
          DIE NACHTRESIDENZ BLEIBT EIGENTÜMER DER KARTE.
          <br />
          SIE BEHÄLT SICH DAS RECHT VOR, SIE JEDERZEIT EINZUZIEHEN.
          <br />
          DIE KARTE IST NUR GÜLTIG, WENN SIE UNTERSCHRIEBEN IST.
        </div>
        <div class="card-footer">
          <div class="block-barcode">
            <barcode
              :value="content.barcode.value"
              :format="content.barcode.type"
              :display-value="false"
              line-color="#ffffff"
              background="transparent"
            />
          </div>
          <div class="block-expires typo-body">
            <span>GÜLTIG BIS</span>
            <span>{{ expiresAt }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VueBarcode from "vue-barcode";

export default {
  components: {
    barcode: VueBarcode,
  },
  props: {
    content: {
      type: Object,
      default() {
        return {};
      },
    },
  },
  data() {
    return {
      flipped: false,
    };
  },
  computed: {
    memberId() {
      const textModule = this.content.textModulesData.find(
        ({ id }) => id === "text_member_id"
      );
      return textModule ? textModule.body : "######";
    },
    expiresAt() {
      if (this.content.expiresAt) {
        const exp = new Date(this.content.expiresAt);
        const d = exp.getDate();
        const dd = d < 10 ? `0${d}` : `${d}`;
        const m = exp.getMonth();
        const mm = m < 10 ? `0${m + 1}` : `${m}`;
        const yy = exp.getFullYear().toString().slice(-2);
        return `${dd}/${mm}/${yy}`;
      }
      return "N/A";
    },
  },
};
</script>

<style lang="scss" scoped>
$z-index-bg: 1;
$z-index-content: 100;

$frame-width: 3px;
$outer-frame-spacing: 20px;
$inner-frame-spacing: $frame-width + $outer-frame-spacing + 12px;
$content-spacing: $inner-frame-spacing + 16px;

@mixin make-frame($bg-color, $curve-color, $spacing, $size: "normal") {
  $curve-radius: 48px;
  $curve-position-offset: 15px;

  @if $size == "small" {
    $curve-radius: 56px;
    $curve-position-offset: 25px;
  }

  $curve-mask-radius: $curve-radius + 1;

  position: absolute;
  z-index: $z-index-bg;
  top: $spacing;
  left: $spacing;
  width: calc(100% - (2 * #{$spacing}));
  height: calc(100% - (2 * #{$spacing}));
  background: $bg-color; /* fallback */
  background: linear-gradient(135deg, transparent 10px, $bg-color 0) top left,
    linear-gradient(225deg, transparent 10px, $bg-color 0) top right,
    linear-gradient(315deg, transparent 10px, $bg-color 0) bottom right,
    linear-gradient(45deg, transparent 10px, $bg-color 0) bottom left;
  background-image: radial-gradient(
      circle at -#{$curve-position-offset} -#{$curve-position-offset},
      $curve-color $curve-radius,
      $bg-color $curve-mask-radius
    ),
    radial-gradient(
      circle at calc(100% + #{$curve-position-offset}) -#{$curve-position-offset},
      $curve-color $curve-radius,
      $bg-color $curve-mask-radius
    ),
    radial-gradient(
      circle at calc(100% + #{$curve-position-offset})
        calc(100% + #{$curve-position-offset}),
      $curve-color $curve-radius,
      $bg-color $curve-mask-radius
    ),
    radial-gradient(
      circle at -#{$curve-position-offset}
        calc(100% + #{$curve-position-offset}),
      $curve-color $curve-radius,
      $bg-color $curve-mask-radius
    );
  background-size: 50% 50%;
  background-repeat: no-repeat;
}

.member-card {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: calc(#{$content-spacing} + 1%) $content-spacing;
  width: 100%;
  height: 100%;
  min-height: 256px;
  font-family: $font-family-pass;
  text-transform: uppercase;
  color: $color-light;
  background-color: $color-dark;
}

.typo-heading {
  font-size: 6.5vw;
  font-weight: $font-weight-normal;
  line-height: 1.2;
  letter-spacing: 0.1em;
}

.typo-body {
  font-size: 3.5vw;
  font-weight: $font-weight-thin;
}

.outer-frame {
  @media (min-width: 577px) {
    @include make-frame($color-light, transparent, $outer-frame-spacing);
  }

  @media (max-width: 576px) {
    @include make-frame(
      $color-light,
      transparent,
      $outer-frame-spacing,
      "small"
    );
  }
}

.outer-frame-mask {
  @media (min-width: 577px) {
    @include make-frame($color-dark, transparent, $frame-width);
  }

  @media (max-width: 576px) {
    @include make-frame($color-dark, transparent, $frame-width, "small");
  }
}

.inner-frame {
  @media (min-width: 577px) {
    @include make-frame($color-light, transparent, $inner-frame-spacing);
  }

  @media (max-width: 576px) {
    @include make-frame(
      $color-light,
      transparent,
      $inner-frame-spacing - 4px,
      "small"
    );
  }
}

.inner-frame-mask {
  @media (min-width: 577px) {
    @include make-frame($color-dark, transparent, $frame-width);
  }

  @media (max-width: 576px) {
    @include make-frame($color-dark, transparent, $frame-width, "small");
  }
}

.card-content {
  position: relative;
  z-index: $z-index-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.card-front {
  padding-top: 15%;
  padding-bottom: 15%;
}

.block-logo {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2%;
  margin-bottom: 8%;
  width: 75%;

  img {
    width: 100%;
    height: 100%;
  }
}

.block-sign {
  padding: 6% 0;
  margin-top: 2%;
  margin-bottom: 3%;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  background-color: $color-light;
}

.card-footer {
  position: relative;
  margin-top: 3%;
}

.block-barcode {
  display: flex;
  justify-content: center;
  width: 100%;

  div {
    display: flex;
    align-items: center;
    width: 65%;

    ::v-deep .vue-barcode-element {
      width: 100%;
      height: auto;
    }
  }
}

.block-expires {
  position: absolute;
  right: 2%;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
}
</style>