<template>
  <div class="drawer-toggle" role="button" @click="$emit('toggle')">
    <div class="bar"></div>
    <div class="bar"></div>
    <div class="bar"></div>
  </div>
</template>

<style lang="scss" scoped>
.drawer-toggle {
  position: absolute;
  top: 50%;
  left: $header-spacing;
  transform: translateY(-50%);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 32px;
  width: 40px;
  cursor: pointer;
}

.drawer-toggle .bar {
  width: 90%;
  height: 2px;
  background-color: $color-light;
}
</style>