button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px 16px;
  font-family: $font-family-base;
  font-weight: $font-weight-bold;
  transition: $transition-all;
  appearance: none;
  outline: none;

  &:not(:disabled) {
    cursor: pointer;
  }

  svg:first-child {
    margin-right: 16px;
  }

  svg:last-child {
    margin-left: 16px;
  }

  &.btn-lg {
    padding: 12px 20px;
    font-size: $font-size-lg;
  }
}

button.btn-cta {
  color: $color-light;
  background-color: $color-black;
  border: 2px solid $color-black;

  &:hover {
    color: $color-black;
    background-color: $color-light;
    border-color: $color-black;
  }
}

button.btn-secondary {
  color: $color-dark;
  background: none;
  border: 0;
}
