label {
  font-size: $font-size-sm;
  font-weight: $font-weight-normal;
  color: $color-dark;
  margin-bottom: 4px;
}

input,
select {
  color: $color-dark;
  transition: $transition-all;
}

input:not([type="radio"]):not([type="checkbox"]) {
  padding: 8px;
  font-size: 14px;
  background-color: rgba($color-light, 0.7);
  border: 1px solid $form-input-border;
  appearance: none;
  outline: none;

  &:focus,
  &:active {
    border-color: $color-black;
  }

  &.input-error {
    border-color: $color-danger;
  }
}

select {
  padding: 8px;
  font-size: 14px;
  background-color: rgba($color-light, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.2);
  appearance: none;
  -webkit-appearance: none;
  outline: none;

  &:focus,
  &:active {
    border-color: $color-primary;
  }

  &.input-error {
    border-color: $color-danger;
  }
}

.block-input {
  display: flex;
  flex-direction: column;

  &:not(:last-child) {
    margin-bottom: 20px;
  }

  &.block-input-disabled {
    pointer-events: none;
    opacity: 0.5;
  }
}

.text-danger {
  margin-top: 4px;
  font-size: $font-size-xs;
  color: $color-danger;
}

.block-checkbox {
  display: flex;
  align-items: flex-start;
  margin-right: auto;
  text-align: left;
  cursor: pointer;

  &:not(:last-child) {
    margin-bottom: 12px;
  }

  svg {
    font-size: 24px;
    color: rgb(180, 180, 180);
    transition: $transition-all;

    &.checkbox-checked {
      color: $color-dark;
    }

    &.checkbox-error {
      color: $color-danger;
    }
  }

  label {
    margin-bottom: 0;
    margin-left: 12px;
    cursor: inherit;
  }
}

.input-inline-label {
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  text-align: left;
  background-color: rgba($color-light, 0.7);
  border: 1px solid $form-input-border;
  border-radius: 8px;

  &:focus-within {
    border-color: $color-dark;
  }

  &.input-error {
    border-color: $color-danger;
  }

  label {
    margin-bottom: 0;
    font-size: $font-size-sm;
    font-weight: $font-weight-normal;
    color: rgba($color-dark, 0.5);
    margin-top: 4px;
    margin-bottom: 0;
  }

  input,
  select {
    padding: 0 !important;
    margin-top: 2px;
    margin-bottom: 8px;
  }

  input,
  input:focus,
  input:active,
  input.input-date,
  input.input-date:focus,
  input.input-date:active,
  select,
  select:focus,
  select:active,
  .custom-tel-input,
  .custom-tel-input:focus-within {
    padding-left: 0 !important;
    padding-right: 0 !important;
    border: none !important;
    box-shadow: none !important;
  }
}
