.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1200px;
  width: 100%;
}

.card {
  position: relative;
  width: 100%;
  background: rgba($color-light, 0.9);
  box-shadow: 0px 4px 25px 0px rgb(0 0 0 / 10%);
}
