$font-family-base: "Montserrat", Helvetica, Arial, sans-serif;
$font-family-pass: "Big Shoulders Display", cursive;
$font-family-register: "PT Sans", sans-serif;

$font-size-base: 14px;
$font-size-xs: 10px;
$font-size-sm: 12px;
$font-size-lg: 16px;
$font-size-xl: 20px;
$font-size-xxl: 24px;
$font-size-xxxl: 28px;
$font-size-xxxxl: 32px;

$font-weight-thin: 300;
$font-weight-normal: 400;
$font-weight-bold: 600;
$font-weight-bolder: 700;

$color-primary: rgb(0, 117, 255);
$color-danger: rgb(234, 84, 85);
$color-dark: #000000;
$color-light: #ffffff;
$color-black: #202020;
$color-whatsapp: #25d366;

$form-input-border: rgba(#555555, 0.2);

$header-height: 108px;
$header-spacing: 12px;

$footer-height: 72px;
$footer-spacing: 20px;

$page-spacing: 16px;

$transition-all: all 0.3s ease;
