<template>
  <div>
    <app-header @sidenavToggle="displaySidenav = !displaySidenav" />
    <app-sidenav :show="displaySidenav" @close="displaySidenav = false" />
    <div class="content">
      <Nuxt />
    </div>
    <install-prompt
      v-if="isLoggedIn && canInstall"
      :ios="isAppleDevice"
      @prompt-confirmed="install"
      @prompt-dismissed="dismiss"
    />
    <app-footer />
  </div>
</template>

<script>
import AppHeader from "@/components/app-header";
import AppSidenav from "@/components/app-sidenav";
import AppFooter from "@/components/app-footer";
import InstallPrompt from "@/components/install-prompt";
import Cookies from "js-cookie";

export default {
  components: { AppHeader, AppSidenav, AppFooter, InstallPrompt },
  data() {
    return {
      displaySidenav: false,
      canInstall: false,
      isAppleDevice: false,
    };
  },
  computed: {
    isLoggedIn() {
      return this.$store.getters.isLoggedIn;
    },
  },
  mounted() {
    // Detects if device is on iOS
    const isIos = () => {
      const userAgent = window.navigator.userAgent.toLowerCase();
      return /iphone|ipad|ipod/.test(userAgent);
    };

    // Detects if device is in standalone mode
    const isInStandaloneMode = () =>
      "standalone" in window.navigator && window.navigator.standalone;

    // Checks if should display install popup notification:
    this.isAppleDevice = isIos() && !isInStandaloneMode();
    const dismissed = Cookies.get("nac-install-dismissed");
    if (
      (window && window.deferredPrompt) ||
      (this.isAppleDevice && !dismissed)
    ) {
      this.canInstall = true;
    }
  },
  methods: {
    async dismiss() {
      Cookies.set("nac-install-dismissed", null, { expires: 1 });
      this.resetPromptChecking();
    },
    async install() {
      try {
        window.deferredPrompt.prompt();
        window.deferredPrompt.userChoice.then((choiceResult) => {
          if (choiceResult.outcome === "accepted") {
            console.log("User accepted the install prompt");
            this.resetPromptChecking();
          } else {
            console.log("User dismissed the install prompt");
            this.dismiss();
          }
        });
      } catch (e) {
        console.log("Failed to install");
      }
    },
    resetPromptChecking() {
      try {
        window.deferredPrompt = null;
        this.canInstall = false;
      } catch (e) {
        console.log("Failed to reset install prompt");
      }
    },
  },
  watch: {
    "$store.getters.currentUser": function (val, old) {
      if (!old && val) {
        if (window && window.deferredPrompt) {
          this.canInstall = true;
        }
      }
    },
  },
};
</script>

<style lang="scss">
html {
  font-family: $font-family-base;
  font-size: $font-size-base;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  color: $color-dark;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

a {
  color: $color-dark;
}

body {
  margin: 0;
  background-color: #fbfbfb;
  // background-image: url("/bg.jpg");
  // background-position: center;
  // background-repeat: no-repeat;
  // background-size: cover;
}

.content {
  display: flex;
  padding-top: $header-height;
  min-height: calc(100vh - #{$footer-height});
}
</style>
