<template>
  <div class="layout--email">
    <EmailHeader />
    <div class="email-content">
      <Nuxt />
    </div>
    <EmailFooter />
  </div>
</template>

<script>
import EmailHeader from "../components/email-header.vue";
import EmailFooter from "../components/email-footer.vue";

export default {
  components: { EmailHeader, EmailFooter },
};
</script>

<style lang="scss">
@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");

html {
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  margin: 0;
  font-family: "PT Sans", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #000000;
  background-color: #fbfbfb;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 12px 16px;
  font-family: $font-family-register;
  font-size: 16px;
  font-weight: 600;
  transition: all 0.3s ease;
  appearance: none;
  outline: none;

  &:disabled {
    opacity: 0.6;
    pointer-events: none;
  }

  &:not(:disabled) {
    cursor: pointer;
  }

  svg:first-child {
    margin-right: 16px;
  }

  svg:last-child {
    margin-left: 16px;
  }

  &.btn-lg {
    padding: 12px 20px;
    font-size: 16px;
  }

  &.btn-sm {
    padding: 8px 12px;
    font-size: 12px;

    svg:first-child {
      margin-right: 8px;
    }

    svg:last-child {
      margin-left: 8px;
    }
  }
}

button.btn-cta {
  color: #ffffff;
  background-color: #202020;
  border: 2px solid #202020;
}

button.btn-secondary {
  color: #000000;
  background: none;
  border: 0;
}

.layout--email {
  display: flex;
  flex-direction: column;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;

  .typo-body {
    font-weight: normal;
    font-size: 16px;
    line-height: 1.4;
    color: #282828;
  }
}

.email-content {
  display: flex;
  flex: 1;
  padding: 36px 20px;
  background-color: #fff;
}
</style>