<template>
  <div class="confirmation-form">
    <h1>BESTÄTIGUNG</h1>

    <div class="upcoming-event-select">
      <div v-if="upcomingEvents.length" class="input-row">
        <div class="input-col">
          <div :class="['block-input']">
            <div
              :class="[
                'input-inline-label',
                invalidFields.includes('event') && 'input-error',
              ]"
            >
              <label>Nächste Veranstaltung</label>
              <select v-model="selectedEvent" @focus="removeInvalid('event')">
                <option value="">Bitte wählen</option>
                <option
                  v-for="item in upcomingEvents"
                  :key="item.id"
                  :value="item"
                >
                  {{ item.name }} - {{ item.eventDateTime }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="typo-heading">
      Datenschutzbestimmungen
    </div>

    <div class="input-row">
      <div class="input-col">
        <div :class="['block-input']">
          <div
            class="block-checkbox"
            @click="
              privacyChecked = !privacyChecked;
              removeInvalid('privacyChecked');
            "
          >
            <fa
              :icon="
                privacyChecked ? ['fas', 'square-check'] : ['far', 'square']
              "
              :class="[
                privacyChecked && 'checkbox-checked',
                invalidFields.includes('privacyChecked') && 'checkbox-error',
              ]"
            />
            <label class="typo-info"
              >Ich habe die
              <a
                href="https://www.nachtresidenz.de/datenschutz/"
                target="_blank"
                >Datenschutzbestimmungen</a
              >
              zur Kenntnis genommen und bin mit der Verarbeitung meiner Daten
              sowie der Kontaktaufnahme im Zuge der Registrierung
              einverstanden.</label
            >
          </div>
        </div>
        <div :class="['block-input']">
          <div
            class="block-checkbox"
            @click="
              agbChecked = !agbChecked;
              removeInvalid('agbChecked');
            "
          >
            <fa
              :icon="agbChecked ? ['fas', 'square-check'] : ['far', 'square']"
              :class="[
                agbChecked && 'checkbox-checked',
                invalidFields.includes('agbChecked') && 'checkbox-error',
              ]"
            />
            <label class="typo-info"
              >Ich akzeptiere die
              <a href="https://www.nachtresidenz.de/member-agb/" target="_blank"
                >Allgemeinen Geschäftsbedingungen.</a
              ></label
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    form: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      upcomingEvents: [],
      selectedEvent: "",
      agbChecked: false,
      privacyChecked: false,
      invalidFields: [],
    };
  },
  async mounted() {
    if (this.form.agbChecked) {
      this.agbChecked = this.form.agbChecked;
    }
    if (this.form.privacyChecked) {
      this.privacyChecked = this.form.privacyChecked;
    }

    await this.fetchUpcomingEvents();
  },
  methods: {
    async fetchUpcomingEvents() {
      try {
        const today = new Date();
        const snapshots = await this.$fire.firestore
          .collection("events")
          .where("date.endDate.seconds", ">=", today.getTime() / 1000)
          .orderBy("date.endDate.seconds", "asc")
          .get();

        snapshots.forEach(doc => {
          const eventData = doc.data();
          const eventStartDateTime = new Date(
            eventData.date.startDate.seconds * 1000
          );
          const eventStartDateTimeStr = this.$moment(eventStartDateTime).format(
            "DD.MM.YYYY HH:mm"
          );
          const eventEndDateTime = new Date(
            eventData.date.endDate.seconds * 1000
          );
          const eventEndDateTimeStr = this.$moment(eventEndDateTime).format(
            "DD.MM.YYYY HH:mm"
          );
          const eventDateTime = `${eventStartDateTimeStr} - ${eventEndDateTimeStr}`;
          const event = {
            ...eventData,
            eventDateTime,
            id: doc.id,
          };
          this.upcomingEvents.push(event);
        });
      } catch (error) {
        console.error("Error fetching upcoming event", error);
      }
    },
    submit() {
      this.invalidFields = this.validateForm();

      if (this.invalidFields.length === 0) {
        this.$emit("form-submitted", {
          agbChecked: this.agbChecked,
          privacyChecked: this.privacyChecked,
          eventTypes: this.selectedEvent ? this.selectedEvent.types : [],
        });

        return true;
      }

      return false;
    },
    validateForm() {
      const invalid = [];

      if (!this.agbChecked) {
        invalid.push("agbChecked");
      }
      if (!this.privacyChecked) {
        invalid.push("privacyChecked");
      }
      if (!this.selectedEvent) {
        invalid.push("event");
      }

      return invalid;
    },
    removeInvalid(value) {
      this.invalidFields = this.invalidFields.filter(field => field !== value);
    },
  },
};
</script>

<style lang="scss" scoped>
.confirmation-form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.typo-heading {
  margin-bottom: 16px;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;

  @media (max-width: 1366px) {
    font-size: $font-size-lg;
  }
}

.typo-info {
  font-size: $font-size-lg;
  font-weight: $font-weight-thin;
  margin-bottom: 16px;

  a {
    text-decoration: underline;
  }
}

.upcoming-event-select {
  margin-top: 24px;
  margin-bottom: 24px;
}
</style>
