<template>
  <div class="contact-data-form">
    <h1>KONTAKTDATEN</h1>

    <div class="input-row">
      <div class="input-col">
        <div :class="['block-input']">
          <div
            :class="[
              'input-inline-label',
              invalidFields.includes('email') && 'input-error',
            ]"
          >
            <label>E-Mail-Adresse</label>
            <input
              v-model.trim="email"
              placeholder="Deine E-Mail-Adresse"
              @focus="removeInvalid('email')"
            />
          </div>
        </div>
      </div>
      <div class="input-col">
        <div :class="['block-input']">
          <div
            :class="[
              'input-inline-label',
              invalidFields.includes('emailConfirm') && 'input-error',
            ]"
          >
            <label>E-Mail-Adresse wiederholen</label>
            <input
              v-model.trim="emailConfirm"
              placeholder="Deine E-Mail-Adresse"
              @focus="removeInvalid('emailConfirm')"
            />
          </div>
        </div>
      </div>
      <div class="input-col">
        <div :class="['block-input']">
          <div
            :class="[
              'input-inline-label',
              invalidFields.includes('phone') && 'input-error',
            ]"
          >
            <label>Telefon mobil</label>
            <client-only>
              <vue-tel-input
                v-model="phone"
                style-classes="custom-tel-input"
                :dropdown-options="{
                  disabled: false,
                  showDialCodeInList: true,
                  showFlags: true,
                  showDialCodeInSelection: false,
                  showSearchBox: true,
                  tabindex: 0,
                }"
                :input-options="{
                  autocomplete: 'on',
                  autofocus: false,
                  maxlength: 25,
                  showDialCode: true,
                  readonly: false,
                  type: 'tel',
                }"
                @focus="removeInvalid('phone')"
                @input="handlePhoneInput"
                @country-changed="handlePhoneCountryChanged"
                @validate="formatPhone"
                @blur="formatPhone"
              ></vue-tel-input>
            </client-only>
          </div>
        </div>
      </div>
      <div class="input-col">
        <div :class="['block-input']">
          <div
            :class="[
              'input-inline-label',
              invalidFields.includes('phoneConfirm') && 'input-error',
            ]"
          >
            <label>Telefon mobil wiederholen</label>
            <client-only>
              <vue-tel-input
                v-model="phoneConfirm"
                style-classes="custom-tel-input"
                :dropdown-options="{
                  disabled: false,
                  showDialCodeInList: true,
                  showFlags: true,
                  showDialCodeInSelection: false,
                  showSearchBox: true,
                  tabindex: 0,
                }"
                :input-options="{
                  autocomplete: 'on',
                  autofocus: false,
                  maxlength: 25,
                  showDialCode: true,
                  readonly: false,
                  type: 'tel',
                }"
                @focus="removeInvalid('phoneConfirm')"
                @input="handlePhoneConfirmInput"
                @country-changed="handlePhoneConfirmCountryChanged"
                @validate="formatPhoneConfirm"
                @blur="formatPhoneConfirm"
              ></vue-tel-input>
            </client-only>
          </div>
        </div>
      </div>
    </div>

    <whatsapp-notice>
      Den Bestätigungscode und die Mitgliedskarte erhältst du
      <strong>per WhatsApp</strong>. Bitte achte darauf, dass deine Handynummer
      korrekt ist.
    </whatsapp-notice>
  </div>
</template>

<script>
import whatsappNotice from "./whatsapp-notice.vue";

export default {
  components: { whatsappNotice },
  props: {
    form: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      email: "",
      emailConfirm: "",
      phone: "",
      phoneConfirm: "",
      dialCode: "",
      dialCodeConfirm: "",
      invalidFields: [],
    };
  },
  mounted() {
    if (this.form.email) {
      this.email = this.form.email;
    }
    if (this.form.emailConfirm) {
      this.emailConfirm = this.form.emailConfirm;
    }
    if (this.form.phone) {
      this.phone = this.form.phone;
    }
    if (this.form.phoneConfirm) {
      this.phoneConfirm = this.form.phoneConfirm;
    }
  },
  methods: {
    submit() {
      this.invalidFields = this.validateForm();

      if (this.invalidFields.length === 0) {
        this.$emit("form-submitted", {
          email: this.email,
          emailConfirm: this.emailConfirm,
          phone: this.phone,
          phoneConfirm: this.phoneConfirm,
        });

        return true;
      }

      return false;
    },
    validateForm() {
      const invalid = [];

      if (!/^[\w-.]+@([\w-]+\.)+[\w-]{2,10}$/.test(this.email)) {
        invalid.push("email");
      }
      if (!/^[\w-.]+@([\w-]+\.)+[\w-]{2,10}$/.test(this.emailConfirm)) {
        invalid.push("emailConfirm");
      }
      if (this.emailConfirm !== this.email) {
        invalid.push("emailConfirm");
      }
      this.formatPhone();
      const phoneRegex = /^\+(?:[0-9] ?){6,14}[0-9]$/;
      if (!phoneRegex.test(this.phone)) {
        invalid.push("phone");
      }
      this.formatPhoneConfirm();
      if (!phoneRegex.test(this.phoneConfirm)) {
        invalid.push("phoneConfirm");
      }
      if (this.phoneConfirm !== this.phone) {
        invalid.push("phoneConfirm");
      }

      return invalid;
    },
    removeInvalid(value) {
      this.invalidFields = this.invalidFields.filter(field => field !== value);
    },
    formatPhone() {
      this.phone = this.phone
        .trim()
        .split(" ")
        .join("");
    },
    formatPhoneConfirm() {
      this.phoneConfirm = this.phoneConfirm
        .trim()
        .split(" ")
        .join("");
    },
    handlePhoneInput(number, phoneObject) {
      if (number.length <= this.dialCode.length) {
        this.phone = this.dialCode;
      } else {
        this.phone = number;
      }
    },
    handlePhoneConfirmInput(number, phoneObject) {
      if (number.length <= this.dialCodeConfirm.length) {
        this.phoneConfirm = this.dialCodeConfirm;
      } else {
        this.phoneConfirm = number;
      }
    },
    handlePhoneCountryChanged(countryObject) {
      const dialCode = countryObject.dialCode || "";
      this.dialCode = `+${dialCode}`;
    },
    handlePhoneConfirmCountryChanged(countryObject) {
      const dialCode = countryObject.dialCode || "";
      this.dialCodeConfirm = `+${dialCode}`;
    },
  },
};
</script>

<style lang="scss" scoped>
.contact-data-form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
.whatsapp-notice {
  margin-top: 20px;
  padding-right: 24px;

  @media (max-width: 1366px) {
    padding-right: 0;
  }
}
</style>
