<template>
  <div class="help-info">
    <div class="help-info-header">
      <fa :icon="['fal', 'circle-info']" size="2x" />
      <div>
        <slot>
          Probleme mit deiner Registrierung?
        </slot>
      </div>
    </div>
    <div class="help-info-detail">
      Melde dich bei Lena via WhatsApp:<br />
      <a href="https://wa.me/491733648661" target="_blank">
        https://wa.me/491733648661
      </a>
    </div>
  </div>
</template>

<script>
export default {};
</script>

<style lang="scss" scoped>
.help-info {
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 12px;
  padding: 20px;
  background-color: #fff;
  border: 1px solid #ebebeb;
  border-radius: 8px;

  @media (max-width: 1366px) {
    padding: 16px;
  }
}

.help-info-header {
  display: flex;
  gap: 12px;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;

  svg {
    font-size: 24px;
  }
}

.help-info-detail {
  font-size: $font-size-lg;
}
</style>
