<template>
  <div class="otp-form">
    <h1>DEIN VERIFIZIERUNGSCODE</h1>
    <whatsapp-notice>
      Gib hier deinen 6-stelligen Code ein, den du soeben
      <strong>per WhatsApp</strong> erhalten hast:
    </whatsapp-notice>
    <div class="block-otp">
      <v-otp-input
        ref="otpInput"
        input-classes="otp-input"
        separator=""
        :num-inputs="6"
        :should-auto-focus="true"
        :is-input-num="true"
        @on-change="handleOnChange"
        @on-complete="handleOnComplete"
      />
    </div>
    <div v-if="errorMessage" class="otp-error error-message">
      {{ errorMessage }}
    </div>
    <button class="submit-button" @click="submitOtp">
      ABSENDEN
      <fa :icon="['fas', 'chevron-right']" />
    </button>
    <button
      v-if="errorMessage"
      :disabled="resendTimer > 0"
      class="submit-button"
      @click="resendOtp"
    >
      <span>Resend Code {{ resendTimer || "" }}</span>
    </button>
  </div>
</template>

<script>
import OtpInput from "@bachdgvn/vue-otp-input";
import WhatsappNotice from "./whatsapp-notice.vue";

export default {
  components: {
    "v-otp-input": OtpInput,
    WhatsappNotice,
  },
  data() {
    return {
      errorMessage: "",
      resendTimer: 0,
      otp: "",
    };
  },
  async beforeDestroy() {
    window.recaptchaVerifier = undefined;
  },
  methods: {
    handleOnChange() {
      this.errorMessage = "";
    },
    async handleOnComplete(value) {
      this.otp = value;
    },
    async submitOtp() {
      if (!this.otp) {
        this.errorMessage = "Bitte gib den Verifizierungscode ein";
        return;
      }

      try {
        this.$nuxt.$loading.start();
        const email = localStorage.getItem("nac_reg_email");
        const snapshots = await this.$fire.firestore
          .collection("users")
          .where("email", "==", email)
          .where("otpCode", "==", this.otp)
          .get();

        if (!snapshots.empty) {
          localStorage.removeItem("nac_reg_email");
          const verificationId = localStorage.getItem("nac_reg_verificationId");

          try {
            await this.verifyUser(verificationId);
            this.$nuxt.$loading.finish();
            this.$emit("otp-verified");
          } catch (error) {
            this.errorMessage =
              error.message || error || "Fehler bei der Verifizierung";
          }
        } else {
          this.errorMessage = "Ungültiger Verifizierungscode";
        }
        this.$nuxt.$loading.finish();
      } catch (error) {
        console.log(error);
        this.$nuxt.$loading.finish();
      }
    },
    async verifyUser(verificationId) {
      let email = "";
      const snapshots = await this.$fire.firestore
        .collection("users")
        .where("verificationId", "==", verificationId)
        .get();
      if (snapshots.size > 0) {
        const doc = snapshots.docs[0];
        email = doc.data().email || "";

        if (!email) return new Error("Invalid verification ID.");

        return this.$axios
          .get(`/verify?verificationId=${verificationId}`)
          .catch(error => {
            return new Error(error.response.data);
          });
      }
    },
    generateOtp() {
      return String(Math.floor(100000 + Math.random() * 900000));
    },
    async resendOtp() {
      try {
        this.resendTimer = 60;
        this.$refs.otpInput.clearInput();
        const intv = setInterval(() => {
          this.resendTimer = this.resendTimer - 1;
          if (this.resendTimer === 0) {
            clearInterval(intv);
          }
        }, 1000);
        const email = localStorage.getItem("nac_reg_email");
        const otpCode = this.generateOtp();
        const snapshots = await this.$fire.firestore
          .collection("users")
          .where("email", "==", email)
          .get();

        if (snapshots.size > 0) {
          const doc = snapshots.docs[0];
          doc.ref.update({ otpCode });
          const phone = doc.data().phone;
          await this.$axios.post(`/sendWhatsappOtpMessage`, {
            phone,
            otpCode,
          });
        }
      } catch (error) {
        console.log("Failed to resend OTP", error);
      }
    },
  },
};
</script>

<style lang="scss" scoped>
.otp-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 440px;
  margin-left: auto;
  margin-right: auto;
}

.block-otp {
  display: flex;
  justify-content: center;
  margin-top: 48px;
  height: 60px;
}

.error-message {
  margin-top: 30px;
  color: red;
}

::v-deep input.otp-input {
  width: 48px;
  height: 60px;
  padding: 5px;
  margin: 0 8px;
  font-size: 24px !important;
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  text-align: center;

  @media (max-width: 1366px) {
    margin: 0 4px;
    width: 40px;
    height: 56px;
    font-size: 20px !important;
  }

  &.error {
    border: 1px solid red !important;
  }
}
</style>
