<template>
  <div class="otp-await">
    <h1>FAST FERTIG!</h1>
    <whatsapp-notice>
      Deine digitale Membercard kommt in Kürze
      <strong>per WhatsApp. Schau in deine WhatsApp-Nachrichten</strong> und gib
      den Code ein - erst danach erhältst du die Membercard.
    </whatsapp-notice>
  </div>
</template>

<script>
import { customAlphabet } from "nanoid";
import whatsappNotice from "./whatsapp-notice.vue";

export default {
  components: { whatsappNotice },
  props: {
    form: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      registrationId: "",
      errors: {
        "auth/email-already-exists": "Diese E-Mail Adresse existiert bereits.",
      },
    };
  },
  async created() {
    let nextId = "99999";
    if (process.env.NODE_ENV === "production") {
      // Generate registration ID as a running number
      const registerCounterRef = this.$fire.firestore
        .collection("registerCounter")
        .doc("counter");
      nextId = await this.$fire.firestore.runTransaction(transaction => {
        return transaction.get(registerCounterRef).then(doc => {
          if (!doc.exists) {
            registerCounterRef.set({ count: 1 });
            return "1";
          } else {
            const newId = doc.data().count + 1;
            transaction.update(registerCounterRef, { count: newId });
            return `${newId}`;
          }
        });
      });
    }

    // Format to 5-digits string
    this.registrationId = nextId.padStart(5, "0");
  },
  async mounted() {
    try {
      const userId = await this.submitRegistrationForm();
      this.$emit("otp-sent", { userId });
    } catch (error) {
      // alert(error);
      console.error(error);
    }
  },
  methods: {
    async submitRegistrationForm() {
      this.$nextTick(() => {
        this.$nuxt.$loading.start();
      });

      const now = new Date();

      // 0. Validate reCaptcha
      try {
        await this.validateRecaptcha("register");
      } catch (e) {
        this.$nuxt.$loading.finish();
        return Promise.reject("recaptcha validation failed!");
      }

      // 1. Check if email has already taken
      const email = this.form.email.toLowerCase();
      const firstname = this.form.firstname.trim();
      const lastname = this.form.lastname.trim();
      const street = "";
      const city = "";

      // Check if the guest hasn't confirm DOI or being a member/nightpass yet
      let user = null;

      await this.$fire.firestore
        .collection("users")
        .where("email", "==", email)
        .get()
        .then(snapshots => {
          if (!snapshots.empty) {
            user = snapshots.docs[0];
          }
        });
      localStorage.setItem("nac_reg_email", email);

      if (user) {
        const {
          authId = "",
          memberId = "", // to know if the guest is a member
          nightpass = false, // to know if the guest is a nightpass
          verified = false, // to know if the guest has confirm DOI
          verificationId = "",
          registrationId = "",
          birthdate = "",
        } = user.data();

        if (!authId) {
          await this.$axios.post(`${process.env.backendApiUrl}/getAuthId`, {
            id: user.id,
            email,
          });
        }

        if (verified) {
          this.$nuxt.$loading.finish();
          this.$router.push(`/welcome-back?userId=${user.id}`);
          return Promise.reject(
            "Email already exists and verified, redirect to welcome-back page"
          );
        } else if (birthdate && verificationId) {
          localStorage.setItem("nac_reg_verificationId", verificationId);
          try {
            await this.sendWhatsAppOtp(user.data().phone, user.data().otpCode);
            this.$nuxt.$loading.finish();
            return user.id;
          } catch (error) {
            this.$nuxt.$loading.finish();
            return Promise.reject("Failed to send OTP to existing user");
          }
        }
      }

      // 2. Create firebase account for the guest
      const userId = customAlphabet("1234567890", 12)();
      const password = this.$moment(this.form.birthdate).format("MMMMDDYYYY");
      const response = await this.$axios
        .post(`/createUser`, {
          email,
          password,
          userId,
          role: "GUEST",
        })
        .then(() => {
          return { success: true };
        })
        .catch(error => {
          console.log("Error: Create user", error.response.data);
          return { error: error.response.data.code };
        });

      if (response.error) {
        this.$nuxt.$loading.finish();
        return Promise.reject(this.errors["auth/email-already-exists"]);
      }

      // 3. Add guest to users collection with generated userId
      // 3.1 Check amount of the welcome sms broadcast
      // const welcomeSms = await this.$fire.firestore
      //   .collection("welcome")
      //   .doc("sms1")
      //   .get();
      // const followUpWelcomeSms = await this.$fire.firestore
      //   .collection("welcome")
      //   .doc("sms2")
      //   .get();

      const next30Mins = this.$moment()
        .tz("Europe/Berlin")
        .add(1, "minutes")
        .toDate();

      const next60Mins = this.$moment()
        .tz("Europe/Berlin")
        .add(60, "minutes")
        .toDate();

      const verificationId = customAlphabet("1234567890abcdef", 32)();
      localStorage.setItem("nac_reg_verificationId", verificationId);

      const otpCode = this.generateOtp();

      try {
        await this.sendWhatsAppOtp(this.form.phone, otpCode);
      } catch (error) {
        this.$nuxt.$loading.finish();
        return Promise.reject("Failed to send OTP");
      }

      const data = {
        id: userId,
        firstname,
        lastname,
        email,
        phone: this.form.phone,
        otpCode,
        gender: this.form.gender,
        birthdate: this.form.birthdate,
        street,
        houseNumber: "",
        city,
        postal: "",
        vaccinationStatus: "",
        activ: false,
        event: [...this.form.eventTypes],
        inactiveCounts: 4,
        optOut: true,
        registrationId: this.registrationId,
        verified: false,
        verificationId,
        timestamp: this.$fireModule.firestore.FieldValue.serverTimestamp(),
        vipVisit: [],
        visit: [],
        welcomeListRemoved: false,
        nightpass: false,
        welcomeSmsSent: false,
        welcomeSmsProcessing: false,
        welcomeSmsPending: false,
        // welcomeSmsPending:
        //   welcomeSms.exists &&
        //   welcomeSms.data().status === statusOptions.PUBLISHED,
        welcomeSmsTimer: next30Mins,
        followUpWelcomeSmsSent: false,
        followUpWelcomeSmsProcessing: false,
        followUpWelcomeSmsPending: false,
        // followUpWelcomeSmsPending:
        //   followUpWelcomeSms.exists &&
        //   followUpWelcomeSms.data().status === statusOptions.PUBLISHED,
        followUpWelcomeSmsTimer: next60Mins,
        welcomeSmsCompleted: false,
        unverifiedDeleteTimestamp: new Date(now.getTime() + 5 * 60000),
        unverifiedDeleted: false,
      };

      const promises = [
        () =>
          this.$fire.firestore
            .collection("users")
            .doc(userId)
            .set(data, { merge: true }),
        () =>
          this.$fire.firestore
            .collection("emailVerifications")
            .doc(verificationId)
            .set({ userId }),
      ];

      // 4. Send verification email
      // await this.$axios.post(`/sendVerificationEmail`, {
      //   name: firstname,
      //   to: email,
      //   verificationId,
      // });

      // 5. Subscribe to Cleverreach
      if (!user) {
        promises.push(() =>
          this.$axios
            .post(`/createCleverreachReceiver`, {
              groupId: "502818",
              receiver: {
                email,
                registered: this.$moment().unix(),
                activated: 0, // wait for DOI
                global_attributes: {
                  salutation: this.gender,
                  firstname,
                  lastname,
                  street,
                  zip: this.zip,
                  city,
                },
                attributes: {
                  birthdate: this.$moment(this.birthdate).format("YYYY/MM/DD"),
                },
              },
            })
            .catch(e => {
              console.log("Failed to create Cleverreach receiver.");
            })
        );
      }

      await Promise.all(promises.map(p => p()));

      this.$nuxt.$loading.finish();

      return userId;
    },
    async validateRecaptcha(action) {
      return new Promise(async (resolve, reject) => {
        try {
          const token = await this.$recaptcha.execute(action);
          const response = await this.$axios.post(`/validateRecaptcha`, {
            token,
          });
          if (!response.data.success) {
            return reject("ReCaptcha validation failed!");
          }
          await this.$recaptcha.reset();
          return resolve();
        } catch (e) {
          console.log(e);
          return reject("ReCaptcha validation failed!");
        }
      });
    },
    generateOtp() {
      return String(Math.floor(100000 + Math.random() * 900000));
    },
    async sendWhatsAppOtp(phone, otpCode) {
      return this.$axios.post(`/sendWhatsappOtpMessage`, {
        phone,
        otpCode,
      });
    },
  },
};
</script>

<style lang="scss" scoped>
.otp-await {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 476px;
  margin-left: auto;
  margin-right: auto;
}
</style>
