<template>
  <div class="personal-data-form">
    <h1>PERSÖNLICHE DATEN</h1>

    <div class="input-row">
      <div class="input-col">
        <div :class="['block-input']">
          <div
            :class="[
              'input-inline-label',
              invalidFields.includes('gender') && 'input-error',
            ]"
          >
            <label>Anrede</label>
            <select v-model="gender" @focus="removeInvalid('gender')">
              <option value="">Bitte wählen</option>
              <option v-for="item in genders" :key="item" :value="item">
                {{ salutations[item] }}
              </option>
            </select>
          </div>
        </div>
      </div>
      <div class="input-col">
        <div :class="['block-input']">
          <div
            :class="[
              'input-inline-label',
              invalidFields.includes('firstname') && 'input-error',
            ]"
          >
            <label>Vorname</label>
            <input
              v-model.trim="firstname"
              placeholder="Dein Vorname"
              @focus="removeInvalid('firstname')"
            />
          </div>
        </div>
      </div>
      <div class="input-col">
        <div :class="['block-input']">
          <div
            :class="[
              'input-inline-label',
              invalidFields.includes('lastname') && 'input-error',
            ]"
          >
            <label>Nachname</label>
            <input
              v-model.trim="lastname"
              placeholder="Dein Nachname"
              @focus="removeInvalid('lastname')"
            />
          </div>
        </div>
      </div>
      <div class="input-col">
        <div :class="['block-input']">
          <div
            :class="[
              'input-inline-label',
              invalidFields.includes('birthdate') && 'input-error',
            ]"
          >
            <label>Geburtstag</label>
            <div class="date-dropdowns">
              <select v-model="year" @focus="removeInvalid('birthdate')">
                <option value="">JJJJ</option>
                <option v-for="item in years" :key="item" :value="item">
                  {{ item }}
                </option>
              </select>
              <select v-model="month" @focus="removeInvalid('birthdate')">
                <option value="">MM</option>
                <option
                  v-for="(item, index) in months"
                  :key="index"
                  :value="index"
                >
                  {{ item }}
                </option>
              </select>
              <select v-model="day" @focus="removeInvalid('birthdate')">
                <option value="">TT</option>
                <option v-for="item in datesInMonth" :key="item" :value="item">
                  {{ item }}
                </option>
              </select>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
const genders = {
  MALE: "Männlich",
  FEMALE: "Weiblich",
  DIVERSE: "Divers",
  UNKNOWN: "Keine Angaben",
};

const salutations = {
  [genders.FEMALE]: "Frau",
  [genders.MALE]: "Herr",
  [genders.DIVERSE]: "Divers",
  [genders.UNKNOWN]: "Keine Angaben",
};

export default {
  props: {
    form: {
      type: Object,
      default: () => ({}),
    },
  },
  data() {
    return {
      firstname: "",
      lastname: "",
      gender: "",
      genders: [genders.MALE, genders.FEMALE, genders.DIVERSE, genders.UNKNOWN],
      salutations,
      birthdate: "",
      year: "",
      month: "",
      day: "",
      years: [],
      months: [
        "Januar",
        "Februar",
        "März",
        "April",
        "Mai",
        "Juni",
        "Juli",
        "August",
        "September",
        "Oktober",
        "November",
        "Dezember",
      ],
      invalidFields: [],
    };
  },
  computed: {
    datesInMonth() {
      const daysInMonth = new Date(this.year, this.month + 1, 0).getDate();
      return Array.from({ length: daysInMonth }, (_, i) => i + 1);
    },
  },
  mounted() {
    if (this.form.firstname) {
      this.firstname = this.form.firstname;
    }
    if (this.form.lastname) {
      this.lastname = this.form.lastname;
    }
    if (this.form.gender) {
      this.gender = this.form.gender;
    }
    if (this.form.birthdate) {
      const date = new Date(this.form.birthdate);
      this.year = date.getFullYear();
      this.month = date.getMonth();
      this.day = date.getDate();
    }

    // Generate years for dropdown 1920 - current year, newest first
    const currentYear = new Date().getFullYear();
    for (let i = currentYear; i >= 1920; i--) {
      this.years.push(i);
    }
  },
  methods: {
    formatBirthdate() {
      if (this.year >= 1920 && this.month >= 0 && this.day >= 0) {
        this.birthdate = new Date(Date.UTC(this.year, this.month, this.day));
      } else {
        this.birthdate = "";
      }
    },
    submit() {
      this.invalidFields = this.validateForm();

      if (this.invalidFields.length === 0) {
        this.$emit("form-submitted", {
          gender: this.gender,
          firstname: this.firstname,
          lastname: this.lastname,
          birthdate: this.birthdate,
        });

        return true;
      }

      return false;
    },
    validateForm() {
      const invalid = [];

      if (!this.firstname) {
        invalid.push("firstname");
      }

      if (!this.lastname) {
        invalid.push("lastname");
      }

      this.formatBirthdate();
      if (!this.birthdate) {
        invalid.push("birthdate");
      }

      if (!this.gender) {
        invalid.push("gender");
      }

      return invalid;
    },
    removeInvalid(value) {
      this.invalidFields = this.invalidFields.filter(field => field !== value);
    },
  },
};
</script>

<style lang="scss" scoped>
.personal-data-form {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
</style>
