<template>
  <div class="register-stepper">
    <div class="steps">
      <div class="step" :class="{ active: step >= 1 }">
        <div class="step-number">1</div>
      </div>
      <div class="line"></div>
      <div class="step" :class="{ active: step >= 2 }">
        <div class="step-number">2</div>
      </div>
      <div class="line"></div>
      <div class="step" :class="{ active: step >= 3 }">
        <div class="step-number">3</div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    step: {
      type: Number,
      required: true,
      default: 0,
    },
  },
};
</script>

<style lang="scss" scoped>
$stepper-step-size: 36px;
$stepper-step-size-mobile: 24px;

.register-stepper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.steps {
  display: flex;
  align-items: center;
  gap: 8px;
}

.step {
  display: flex;
  align-items: center;
  justify-content: center;
  width: $stepper-step-size;
  height: $stepper-step-size;
  color: #000;
  font-size: $font-size-lg;
  font-weight: $font-weight-bold;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 50%;

  @media (max-width: 1366px) {
    width: $stepper-step-size-mobile;
    height: $stepper-step-size-mobile;
    font-size: $font-size-sm;
  }

  &.active {
    background-color: #000;
    color: #fff;
  }
}

.line {
  flex: 1;
  height: 1px;
  width: $stepper-step-size;
  background-color: #969696;
}
</style>
