<template>
  <div class="register-sidebar">
    <span class="info-icon" @click="showInfo = !showInfo">
      <fa :icon="['fal', 'lightbulb-on']" />
    </span>
    <div v-if="showInfo" class="info-box">
      <div class="register-sidebar-close" @click="showInfo = false">
        <fa :icon="['fal', 'xmark']" />
      </div>
      <div class="info-header">
        SO EINFACH ERHÄLTST DU DEINE DIGITALE MEMBERCARD:
      </div>

      <ol class="steps">
        <li :class="[{ active: step === 1 }]">
          Persönlichen Daten eingeben.
        </li>
        <li :class="[{ active: step === 2 }]">
          Kontaktdaten eingeben.
        </li>
        <li :class="[{ active: step === 3 }]">
          Datenschutzrichtlinien & AGBs bestätigen.
        </li>
        <div :class="['whatsapp-info', { active: step === 4 || step === 5 }]">
          <fa :icon="['fab', 'square-whatsapp']" size="2x" />
          <p>Bestätigungscode und Membercard bequem per WhatsApp erhalten!</p>
        </div>
      </ol>

      <div class="register-sidebar-help-info">
        <help-info>
          {{
            step === 4
              ? "Keine Nachricht erhalten?"
              : "Probleme mit deiner Registrierung?"
          }}
        </help-info>
      </div>
    </div>
  </div>
</template>

<script>
import helpInfo from "./help-info.vue";

export default {
  components: { helpInfo },
  props: {
    step: {
      type: Number,
      required: true,
    },
  },
  data() {
    return {
      showInfo: true,
    };
  },
  mounted() {
    if (window.innerWidth <= 576) {
      this.showInfo = false;
    }
  },
};
</script>

<style lang="scss" scoped>
$info-icon-top-spacing: 20px;
$info-icon-size: 48px;
$info-arrow-top-spacing: 24px;
$info-arrow-size: 16px;
$step-side-spacing: 12px;
$step-size: 28px;
$step-size-mobile: 20px;
$sidebar-gutter-mobile: 16px;
$sidebar-close-icon-size: 32px;

.register-sidebar {
  position: relative;
  display: flex;

  @media (max-width: 1366px) {
    width: 100%;
  }
}

.register-sidebar-close {
  display: none;

  @media (max-width: 1366px) {
    position: absolute;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    top: calc(#{$sidebar-close-icon-size} / -2);
    right: calc(#{$sidebar-close-icon-size} / -2);
    width: $sidebar-close-icon-size;
    height: $sidebar-close-icon-size;
    color: rgba($color-dark, 0.5);
    background-color: #fff;
    border-radius: 50%;
    box-shadow: 0 2px 4px rgba($color-dark, 0.1);
    cursor: pointer;
  }
}

.info-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: $info-icon-top-spacing;
  width: $info-icon-size;
  height: $info-icon-size;
  font-size: 20px;
  color: #fff;
  background-color: #000;
  border-radius: 50%;
  cursor: pointer;

  @media (max-width: 1366px) {
    position: absolute;
    z-index: 2;
    bottom: calc(#{$info-icon-size} / -2);
    right: $sidebar-gutter-mobile;
    margin-top: 0;
  }
}

.info-box {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 360px;
  margin-left: 24px;
  background-color: #f2f2f2;
  border: 1px solid #e6e6e6;
  border-radius: 8px;
  padding: 20px;
  gap: 20px;

  @media (max-width: 1366px) {
    z-index: 1;
    margin-left: auto;
    margin-right: calc(#{$sidebar-gutter-mobile} * 2);
    box-shadow: 0 2px 4px rgba($color-dark, 0.1);
  }

  @media (max-width: 576px) {
    max-width: calc(100% - (#{$sidebar-gutter-mobile} * 4));
  }

  &::after {
    content: "";
    position: absolute;
    top: $info-arrow-top-spacing;
    left: calc(#{$info-arrow-size} * -1);
    border-top: $info-arrow-size solid transparent;
    border-bottom: $info-arrow-size solid transparent;
    border-right: $info-arrow-size solid #f2f2f2;

    @media (max-width: 1366px) {
      display: none;
    }
  }

  &::before {
    content: "";
    position: absolute;
    top: $info-arrow-top-spacing;
    left: calc(#{$info-arrow-size + 1px} * -1);
    border-top: calc(#{$info-arrow-size} + 1px) solid transparent;
    border-bottom: calc(#{$info-arrow-size} + 1px) solid transparent;
    border-right: calc(#{$info-arrow-size} + 1px) solid #e6e6e6;

    @media (max-width: 1366px) {
      display: none;
    }
  }
}

.info-header {
  display: flex;
  align-items: center;
  padding-right: 56px;
  font-size: 18px;
  font-weight: bold;

  @media (max-width: 1366px) {
    padding-right: 64px;
    font-size: $font-size-lg;
  }
}

.steps {
  list-style: none;
  counter-reset: step-counter;
  padding-left: 0;
}

.steps li {
  position: relative;
  margin-bottom: 4px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: calc(12px + #{$step-size} + #{$step-side-spacing});
  padding-right: 40px;
  counter-increment: step-counter;
  background-color: transparent;
  border: none;
  border-radius: 8px;

  @media (max-width: 1366px) {
    padding-top: 8px;
    padding-bottom: 8px;
    padding-left: calc(8px + #{$step-size-mobile} + #{$step-side-spacing});
    padding-right: 24px;
    font-size: $font-size-base;
  }

  &.active {
    background-color: #fff;
    border: 1px solid #ebebeb;
  }
}

.steps li::before {
  content: counter(step-counter) ".";
  position: absolute;
  z-index: 2;
  left: $step-side-spacing;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: $step-size;
  height: $step-size;
  font-weight: bold;
  line-height: 1;
  color: #fff;
  background-color: #000;
  border-radius: 50%;

  @media (max-width: 1366px) {
    width: $step-size-mobile;
    height: $step-size-mobile;
    font-size: $font-size-sm;
  }
}

.whatsapp-info {
  display: flex;
  padding: $step-side-spacing;
  gap: $step-side-spacing;

  @media (max-width: 1366px) {
    font-size: $font-size-sm;
  }

  &.active {
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 8px;
  }

  p {
    @media (max-width: 1366px) {
      font-size: $font-size-base;
    }
  }

  svg {
    color: $color-whatsapp;
  }
}

.register-sidebar-help-info {
  @media (max-width: 1366px) {
    display: none;
  }
}
</style>
