<template>
  <div class="success-message">
    <h1>WELCOME TO THE<br />NACHTRESIDENZ-FAMILY</h1>
    <whatsapp-notice>
      In deinem <strong>WhatsApp</strong> findest du jetzt nach der Bestätigung
      deine Membercard, die du ganz einfach herunterladen kannst. Diese
      benötigst du zukünftig für jedes Event in der Nachtresidenz.<br /><br />
      Wir freuen uns auf dich!
    </whatsapp-notice>
    <a href="https://wa.me/491733648661" target="_blank">
      <button class="submit-button">
        EVENT BUCHEN
        <fa :icon="['fas', 'chevron-right']" />
      </button>
    </a>
  </div>
</template>

<script>
import whatsappNotice from "./whatsapp-notice.vue";

export default {
  components: { whatsappNotice },
  props: {
    userId: {
      type: String,
      required: true,
    },
    email: {
      type: String,
      required: true,
    },
  },
  async mounted() {
    const promises = [];

    promises.push(() =>
      this.$axios.post(`/sendWhatsappDoubleOptInMessage`, {
        userId: this.userId,
      })
    );

    // Activate Cleverreach receiver
    promises.push(() =>
      this.$axios
        .post(`/updateCleverreachReceiver`, {
          groupId: "502818", // Hardcoded group id
          email: this.email,
          receiver: {
            activated: this.$moment().unix(),
          },
        })
        .catch(e => {
          console.log("Failed to update Cleverreach receiver.");
        })
    );

    await Promise.all(promises.map(p => p()));
  },
};
</script>

<style lang="scss" scoped>
.success-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 480px;
  margin-left: auto;
  margin-right: auto;
}
</style>
