<template>
  <div class="welcome-message">
    <h1 class="text-desktop">DEINE EINMALIGE REGISTRIERUNG</h1>
    <h1 class="text-mobile">DEINE EINMALIGE<br />REGISTRIERUNG</h1>
    <p class="text-desktop">
      Die Registrierung kostenlos und enforderlich für deinen Clubbesuch.<br />
      Sie erfolgt nur einmal und garantiert keinen Einlass.<br />
      Nach der Registrierung erhältst du deine Membercard bequem
      <strong>per WhatsApp.</strong><br /><br />
      Deine Mitgliedschaft kannst du jederzeit widerrufen.
    </p>
    <p class="text-mobile">
      Die Registrierung kostenlos und enforderlich für deinen Clubbesuch. Sie
      erfolgt nur einmal und garantiert keinen Einlass.
    </p>
    <div class="text-mobile">
      <whatsapp-notice bordered>
        Nach der Registrierung erhältst du deine Membercard bequem
        <strong>per WhatsApp.</strong>
      </whatsapp-notice>
    </div>
    <span class="text-mobile text-ps">
      Deine Mitgliedschaft kannst du jederzeit widerrufen.
    </span>
  </div>
</template>

<script>
import whatsappNotice from "./whatsapp-notice.vue";

export default {
  components: { whatsappNotice },
};
</script>

<style lang="scss" scoped>
.welcome-message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

.text-desktop {
  @media (max-width: 1366px) {
    display: none;
  }
}

.text-mobile {
  display: none;

  @media (max-width: 1366px) {
    display: block;
  }
}

.text-ps {
  font-size: $font-size-sm;
}

.whatsapp-notice {
  margin-top: 8px;
  margin-bottom: 8px;
}
</style>
