<template>
  <div :class="['whatsapp-notice', { 'whatsapp-notice-bordered': bordered }]">
    <fa :icon="['fab', 'square-whatsapp']" />
    <p>
      <slot />
    </p>
  </div>
</template>

<script>
export default {
  props: {
    bordered: {
      type: Boolean,
      default: false,
    },
  },
};
</script>

<style lang="scss" scoped>
.whatsapp-notice {
  display: flex;
  text-align: left;
  gap: 24px;

  @media (max-width: 1366px) {
    gap: 16px;
    font-size: $font-size-base;
  }

  &.whatsapp-notice-bordered {
    padding: 12px 16px;
    gap: 16px;
    background-color: #fff;
    border: 1px solid #ebebeb;
    border-radius: 8px;
  }

  svg {
    font-size: 42px;
    color: $color-whatsapp;

    @media (max-width: 1366px) {
      font-size: 28px;
    }
  }
}
</style>
