<template>
  <div class="register-qr-code">
    <template v-if="registerId">
      <qrcode :value="registerId" :width="320" />
      <span>REG ID: {{ registerId }}</span>
    </template>
    <div v-else>Invalid URL</div>
  </div>
</template>

<script>
import VueQrcode from "vue-qrcode";

export default {
  layout: "fullscreen",
  components: {
    qrcode: VueQrcode,
  },
  computed: {
    registerId() {
      return this.$route.params.registerId || "";
    },
  },
  head: {
    title: "QR Code | Nachtresidenz"
  }
};
</script>

<style lang="scss" scoped>
.register-qr-code {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  color: #ffffff;
  background-color: #202020;

  span {
    margin-top: 12px;
    font-size: 20px;
  }
}
</style>